In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [2]:
# mysql connect하기 위한 아이디 비밀번호 포트 데이터베이스 등록 
engine = create_engine("mysql+pymysql://root:"
            +"1234"
            +"@localhost:3306/sakila?charset=utf8"
            , encoding='utf8')

In [3]:
# mysql connect 하기
conn = engine.connect()

In [4]:
# 필요한 csv파일 가져오기
df = pd.read_csv('../trading-1/data/000660_SK하이닉스.csv')

In [5]:
# csv파일을 mysql에 집어넣기
# name= table명
# con= connect할 때 들어가는 아이디 비밀번호 등등
# if_exists= 'append' : 기존 테이블이 있는 경우 데이터를 추가
     # 'fail' : 기존 테이블이 있는 경우 아무일도 없지만 없을 경우 valuesError뜸
     # 'replace' : 기존 테이블이 있을 경우, 기존 테이블을 삭제하고 다시 테이블을
     # 만들어서 데이터를 넣음
df.to_sql(name='stock', con=engine, if_exists='append', index='False')

117626

In [7]:

conn.close()

In [10]:
host_name = "localhost"
username = 'root'
password = '1234'
database_name = 'sakila'

In [11]:
db1 = pymysql.connect(
    host= host_name
    , port=3306
    , user=username
    , password=password
    , db=database_name
    , charset='utf8'
)

In [16]:
sql = 'select * from stock'
df = pd.read_sql(sql,con=db1)
print(df)

d:\Anaconda3\envs\trad\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

         False  Unnamed: 0    시간     시가     고가     저가     종가  전일대비     거래량  \
0            0    20221101  1530  83900  83900  83900  83900     0  209606
1            1    20221101  1520  83900  83900  83700  83800     0   19759
2            2    20221101  1519  83900  83900  83800  83900     0   13595
3            3    20221101  1518  83800  83900  83700  83900     0   11513
4            4    20221101  1517  83700  83800  83700  83800     0   21585
...        ...         ...   ...    ...    ...    ...    ...   ...     ...
352873  117621    20201023  1449  84400  84500  84400  84500     0    1823
352874  117622    20201023  1448  84500  84500  84400  84500     0    2240
352875  117623    20201023  1447  84500  84500  84400  84400     0    1302
352876  117624    20201023  1446  84500  84500  84400  84500     0    1538
352877  117625    20201023  1445  84400  84500  84400  84500     0    2685

               거래대금  ...  외국인현보유비율  수정주가일자  수정주가비율  기관순매수량  기관누적순매수량  등락주선  \
0       17585940000  ...       0.0       0     0.0       0         0     0
1        1656510000  ...       0.0       0     0.0       0         0     0
2        1140060000  ...       0.0       0     0.0       0         0     0
3         965320000  ...       0.0       0     0.0       0         0     0
4        1808650000  ...       0.0       0     0.0       0         0     0
...             ...  ...       ...     ...     ...     ...       ...   ...
352873    153950000  ...       0.0       0     0.0       0         0     0
352874    189190000  ...       0.0       0     0.0       0         0     0
352875    109940000  ...       0.0       0     0.0       0         0     0
352876    129890000  ...       0.0       0     0.0       0         0     0
352877    226650000  ...       0.0       0     0.0       0         0     0

        등락비율  예탁금  주식회전율  거래성립률
0        0.0    0    0.0    0.0
1        0.0    0    0.0    0.0
2        0.0    0    0.0    0.0
3        0.0    0    0.0    0.0
4        0.0    0    0.0    0.0
...      ...  ...    ...    ...
352873   0.0    0    0.0    0.0
352874   0.0    0    0.0    0.0
352875   0.0    0    0.0    0.0
352876   0.0    0    0.0    0.0
352877   0.0    0    0.0    0.0

[352878 rows x 26 columns]

In [17]:
sql = 'SELECT COUNT(*) FROM STOCK'
df = pd.read_sql(sql=sqf, con=db1)
df

NameError: name 'sqf' is not defined

In [ ]:
# con = pymysql.connect(host='localhost', user='root', password='1234',
#                       db='MySQL', charset='utf8', # 한글처리 (charset = 'utf8')
#                       autocommit=True, # 결과 DB 반영 (Insert or update)
#                       cursorclass=pymysql.cursors.DictCursor # DB조회시 컬럼명을 동시에 보여줌
#                      )
# cur = con.cursor()

In [ ]:
# cur = db2.cursor()

In [ ]:
# indata = pd.read_sql_query('select * from stock_info', conn)
# indata

In [ ]:
# cur = conn.cursor()

In [ ]:
# db.close()

In [ ]:
# cur = con.cursor()
# # sql = "SELECT * FROM stock_info.stock" # customers 테이블 전체를 불러옴
# sql = "SELECT * FROM stock_info.stock.columns" # customers 테이블 전체를 불러옴
# cur.execute(sql)
# rows = cur.fetchone()
# con.close() # DB 연결 종료
# print(rows)