In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [2]:
# mysql connect하기 위한 아이디 비밀번호 포트 데이터베이스 등록 
engine = create_engine("mysql+pymysql://root:"
            +"1234"
            +"@localhost:3306/sakila?charset=utf8"
            , encoding='utf8')

In [3]:
# mysql connect 하기
conn = engine.connect()

In [4]:
# 필요한 csv파일 가져오기
df = pd.read_csv('../trading-1/data/000660_SK하이닉스.csv')

In [5]:
df = df.astype({'Unnamed: 0':'int32'})
df = df.astype({'시간':'int16'})
df = df.astype({'시가':'int32'})
df = df.astype({'고가':'int32'})
df = df.astype({'저가':'int32'})
df = df.astype({'종가':'int32'})
df = df.astype({'전일대비':'int32'})
df = df.astype({'거래량':'int32'})
df = df.astype({'거래대금':'int64'})
df = df.astype({'누적체결매도수량':'int32'})
df = df.astype({'상장주식수':'int32'})
df = df.astype({'시가총액':'int64'})
df = df.astype({'외국인주문한도수량':'int32'})
df = df.astype({'외국인주문가능수량':'int32'})
df = df.astype({'외국인현보유수량':'int32'})
df = df.astype({'외국인현보유비율':'float32'})
df = df.astype({'수정주가일자':'int32'})
df = df.astype({'수정주가비율':'float32'})
df = df.astype({'기관순매수량':'int32'})
df = df.astype({'기관누적순매수량':'int32'})
df = df.astype({'등락주선':'int32'})
df = df.astype({'등락비율':'float32'})
df = df.astype({'예탁금':'int64'})
df = df.astype({'주식회전율':'float32'})
df = df.astype({'거래성립률':'float32'})

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117626 entries, 0 to 117625
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  117626 non-null  int32
 1   시간          117626 non-null  int16
 2   시가          117626 non-null  int32
 3   고가          117626 non-null  int32
 4   저가          117626 non-null  int32
 5   종가          117626 non-null  int32
 6   전일대비        117626 non-null  int32
 7   거래량         117626 non-null  int32
 8   거래대금        117626 non-null  int64
 9   누적체결매도수량    117626 non-null  int32
 10  상장주식수       117626 non-null  int32
 11  시가총액        117626 non-null  int64
 12  외국인주문한도수량   117626 non-null  int32
 13  외국인주문가능수량   117626 non-null  int32
 14  외국인현보유수량    117626 non-null  int32
 15  외국인현보유비율    117626 non-null  float32
 16  수정주가일자      117626 non-null  int32
 17  수정주가비율      117626 non-null  float32
 18  기관순매수량      117626 non-null  int32
 19  기관누적순매수량    117626 non-null  int32
 20  등락주선        117626 non-null  int32
 21  등락비율        117626 non-null  float32
 22  예탁금         117626 non-null  int64
 23  주식회전율       117626 non-null  float32
 24  거래성립률       117626 non-null  float32
dtypes: float32(5), int16(1), int32(16), int64(3)
memory usage: 12.3 MB

In [7]:
# csv파일을 mysql에 집어넣기
# name= table명
# con= connect할 때 들어가는 아이디 비밀번호 등등
# if_exists= 'append' : 기존 테이블이 있는 경우 데이터를 추가
     # 'fail' : 기존 테이블이 있는 경우 아무일도 없지만 없을 경우 valuesError뜸
     # 'replace' : 기존 테이블이 있을 경우, 기존 테이블을 삭제하고 다시 테이블을
     # 만들어서 데이터를 넣음
df.to_sql(name='stock', con=engine, if_exists='append', index=False)

117626

In [8]:

conn.close()

In [9]:
host_name = "localhost"
username = 'root'
password = '1234'
database_name = 'sakila'

In [10]:
db1 = pymysql.connect(
    host= host_name
    , port=3306
    , user=username
    , password=password
    , db=database_name
    , charset='utf8'
)

In [11]:
sql = 'select * from stock'
df2 = pd.read_sql(sql,con=db1)
print(df)

d:\Anaconda3\envs\trad\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

        Unnamed: 0    시간     시가     고가     저가     종가  전일대비     거래량  \
0         20221101  1530  83900  83900  83900  83900     0  209606
1         20221101  1520  83900  83900  83700  83800     0   19759
2         20221101  1519  83900  83900  83800  83900     0   13595
3         20221101  1518  83800  83900  83700  83900     0   11513
4         20221101  1517  83700  83800  83700  83800     0   21585
...            ...   ...    ...    ...    ...    ...   ...     ...
117621    20201023  1449  84400  84500  84400  84500     0    1823
117622    20201023  1448  84500  84500  84400  84500     0    2240
117623    20201023  1447  84500  84500  84400  84400     0    1302
117624    20201023  1446  84500  84500  84400  84500     0    1538
117625    20201023  1445  84400  84500  84400  84500     0    2685

               거래대금  누적체결매도수량  ...  외국인현보유비율  수정주가일자  수정주가비율  기관순매수량  \
0       17585940000   1613467  ...       0.0       0     0.0       0
1        1656510000   1613467  ...       0.0       0     0.0       0
2        1140060000   1602228  ...       0.0       0     0.0       0
3         965320000   1596588  ...       0.0       0     0.0       0
4        1808650000   1595340  ...       0.0       0     0.0       0
...             ...       ...  ...       ...     ...     ...     ...
117621    153950000   1117768  ...       0.0       0     0.0       0
117622    189190000   1116900  ...       0.0       0     0.0       0
117623    109940000   1115948  ...       0.0       0     0.0       0
117624    129890000   1115184  ...       0.0       0     0.0       0
117625    226650000   1114460  ...       0.0       0     0.0       0

        기관누적순매수량  등락주선  등락비율  예탁금  주식회전율  거래성립률
0              0     0   0.0    0    0.0    0.0
1              0     0   0.0    0    0.0    0.0
2              0     0   0.0    0    0.0    0.0
3              0     0   0.0    0    0.0    0.0
4              0     0   0.0    0    0.0    0.0
...          ...   ...   ...  ...    ...    ...
117621         0     0   0.0    0    0.0    0.0
117622         0     0   0.0    0    0.0    0.0
117623         0     0   0.0    0    0.0    0.0
117624         0     0   0.0    0    0.0    0.0
117625         0     0   0.0    0    0.0    0.0

[117626 rows x 25 columns]

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117626 entries, 0 to 117625
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  117626 non-null  int64
 1   시간          117626 non-null  int64
 2   시가          117626 non-null  int64
 3   고가          117626 non-null  int64
 4   저가          117626 non-null  int64
 5   종가          117626 non-null  int64
 6   전일대비        117626 non-null  int64
 7   거래량         117626 non-null  int64
 8   거래대금        117626 non-null  int64
 9   누적체결매도수량    117626 non-null  int64
 10  상장주식수       117626 non-null  int64
 11  시가총액        117626 non-null  int64
 12  외국인주문한도수량   117626 non-null  int64
 13  외국인주문가능수량   117626 non-null  int64
 14  외국인현보유수량    117626 non-null  int64
 15  외국인현보유비율    117626 non-null  float64
 16  수정주가일자      117626 non-null  int64
 17  수정주가비율      117626 non-null  float64
 18  기관순매수량      117626 non-null  int64
 19  기관누적순매수량    117626 non-null  int64
 20  등락주선        117626 non-null  int64
 21  등락비율        117626 non-null  float64
 22  예탁금         117626 non-null  int64
 23  주식회전율       117626 non-null  float64
 24  거래성립률       117626 non-null  float64
dtypes: float64(5), int64(20)
memory usage: 22.4 MB

In [13]:
df2 = df.astype({'Unnamed: 0':'int32'})
df = df.astype({'시간':'int16'})
df = df.astype({'시가':'int32'})
df = df.astype({'고가':'int32'})
df = df.astype({'저가':'int32'})
df = df.astype({'종가':'int32'})
df = df.astype({'전일대비':'int32'})
df = df.astype({'거래량':'int32'})
df = df.astype({'거래대금':'int64'})
df = df.astype({'누적체결매도수량':'int32'})
df = df.astype({'상장주식수':'int32'})
df = df.astype({'시가총액':'int64'})
df = df.astype({'외국인주문한도수량':'int32'})
df = df.astype({'외국인주문가능수량':'int32'})
df = df.astype({'외국인현보유수량':'int32'})
df = df.astype({'외국인현보유비율':'float32'})
df = df.astype({'수정주가일자':'int32'})
df = df.astype({'수정주가비율':'float32'})
df = df.astype({'기관순매수량':'int32'})
df = df.astype({'기관누적순매수량':'int32'})
df = df.astype({'등락주선':'int32'})
df = df.astype({'등락비율':'float32'})
df = df.astype({'예탁금':'int64'})
df = df.astype({'주식회전율':'float32'})
df = df.astype({'거래성립률':'float32'})

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117626 entries, 0 to 117625
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  117626 non-null  int32
 1   시간          117626 non-null  int16
 2   시가          117626 non-null  int32
 3   고가          117626 non-null  int32
 4   저가          117626 non-null  int32
 5   종가          117626 non-null  int32
 6   전일대비        117626 non-null  int32
 7   거래량         117626 non-null  int32
 8   거래대금        117626 non-null  int64
 9   누적체결매도수량    117626 non-null  int32
 10  상장주식수       117626 non-null  int32
 11  시가총액        117626 non-null  int64
 12  외국인주문한도수량   117626 non-null  int32
 13  외국인주문가능수량   117626 non-null  int32
 14  외국인현보유수량    117626 non-null  int32
 15  외국인현보유비율    117626 non-null  float32
 16  수정주가일자      117626 non-null  int32
 17  수정주가비율      117626 non-null  float32
 18  기관순매수량      117626 non-null  int32
 19  기관누적순매수량    117626 non-null  int32
 20  등락주선        117626 non-null  int32
 21  등락비율        117626 non-null  float32
 22  예탁금         117626 non-null  int64
 23  주식회전율       117626 non-null  float32
 24  거래성립률       117626 non-null  float32
dtypes: float32(5), int16(1), int32(16), int64(3)
memory usage: 12.3 MB

In [14]:
sql = 'SELECT COUNT(*) FROM STOCK'
df = pd.read_sql(sql=sql, con=db1)
df

d:\Anaconda3\envs\trad\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

   COUNT(*)
0    117626

In [15]:
# con = pymysql.connect(host='localhost', user='root', password='1234',
#                       db='MySQL', charset='utf8', # 한글처리 (charset = 'utf8')
#                       autocommit=True, # 결과 DB 반영 (Insert or update)
#                       cursorclass=pymysql.cursors.DictCursor # DB조회시 컬럼명을 동시에 보여줌
#                      )
# cur = con.cursor()

In [16]:
# cur = db2.cursor()

In [17]:
# indata = pd.read_sql_query('select * from stock_info', conn)
# indata

In [18]:
# cur = conn.cursor()

In [19]:
# db.close()

In [20]:
# cur = con.cursor()
# # sql = "SELECT * FROM stock_info.stock" # customers 테이블 전체를 불러옴
# sql = "SELECT * FROM stock_info.stock.columns" # customers 테이블 전체를 불러옴
# cur.execute(sql)
# rows = cur.fetchone()
# con.close() # DB 연결 종료
# print(rows)