In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import csv
import os
import time

In [4]:
# mysql connect하기 위한 아이디 비밀번호 포트 데이터베이스 등록 및 conn 리턴
def sql_connect():
    engine = create_engine("mysql+pymysql://root:"
                +"big15"
                +"@localhost:3306/big15?charset=utf8"
                , encoding='utf8')
    
    return engine.connect()

In [5]:
# Data csv => SQL에 추가
def sql_data_insert(conn):
    
    # for문 돌려서 파일 리스트 받고 하나씩 읽는다
    for file in os.listdir('../data/update/20221116/concat/'):
        stock_code_name = file.split('_')[-2] + '_' + file.split('_')[-1].split('.')[0]

        stock_info = pd.read_csv('../data/update/20221116/concat/{0}'.format(file))
        # name= table명
        # con= connect할 때 들어가는 아이디 비밀번호 등등
        # if_exists= 'append' : 기존 테이블이 있는 경우 데이터를 추가
        # 'fail' : 기존 테이블이 있는 경우 아무일도 없지만 없을 경우 valuesError뜸
        # 'replace' : 기존 테이블이 있을 경우, 기존 테이블을 삭제하고 다시 테이블을
        count = stock_info.to_sql(name='{0}'.format(stock_code_name), con=conn, if_exists='replace', index=False)
        stock_info = pd.DataFrame()

        print(count)

    # for문 완료 후 연결 해제
    conn.close()

In [7]:
sql_data_insert(sql_connect())

c:\Users\TJ\.conda\envs\tf2\lib\site-packages\pandas\io\sql.py:1666: UserWarning: The provided table name '000040_KR모터스' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [13]:
import pymysql
import csv
import os
import time

conn = pymysql.connect(host='localhost', user='root', password='big15'
                     , db='big15', charset='utf8')

file_list = []
for file in os.listdir('../data/update/20221116/concat/'):
    curs = conn.cursor()
    file_list.append(file)
    stock_code_name = file.split('_')[-2] + '_' + file.split('_')[-1].split('.')[0]

    sql = 'CREATE TABLE {0} (date int)'.format(stock_code_name)
    curs.execute(sql)
    curs.close()

conn.commit()

# sql = "insert into user (id, name, region, insdt) values (%s, %s, %s, now())"
# f = open('test.csv', 'r', encoding='utf-8')
# rd = csv.reader(f)

# for line in rd:
#     curs.execute(sql, (line[0], line[1], line[2]))

# conn.commit()
# conn.close()
# f.close()

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '-Oil (date int)' at line 1")

In [ ]:
import csv

f = open('../data/test1/000660_SK하이닉스.csv', 'r', encoding='utf-8')
rd = csv.reader(f)

for line in rd:
    print(line[1])

In [27]:
f.name.split('_')[1].split('.')[0]

'SK하이닉스'

In [10]:
host_name = "localhost"
username = 'root'
password = 'big15'
database_name = 'big15'

In [11]:
db1 = pymysql.connect(
    host= host_name
    , port=3306
    , user=username
    , password=password
    , db=database_name
    , charset='utf8'
)

In [12]:
sql = 'select * from stock'
df2 = pd.read_sql(sql,con=db1)
print(df2)

c:\Users\TJ\.conda\envs\tf2\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

        Unnamed: 0    시간     시가     고가     저가     종가  전일대비     거래량  \
0         20221103  1530  82700  82700  82700  82700     0  312503
1         20221103  1520  83100  83100  83000  83100     0   12246
2         20221103  1519  83000  83100  83000  83100     0   19656
3         20221103  1518  83200  83200  83000  83000     0   39559
4         20221103  1517  83100  83200  83100  83200     0    4789
...            ...   ...    ...    ...    ...    ...   ...     ...
190375    20201027   905  82000  82300  81800  82200     0   53979
190376    20201027   904  82200  82300  82000  82000     0   19926
190377    20201027   903  82200  82300  82100  82200     0   16356
190378    20201027   902  82500  82500  82200  82200     0   12931
190379    20201027   901  82300  82600  82200  82600     0   41258

               거래대금  누적체결매도수량  ...  외국인현보유비율  수정주가일자  수정주가비율  기관순매수량  \
0       25843990000   1314512  ...       0.0       0     0.0       0
1        1017260000   1314512  ...       0.0       0     0.0       0
2        1631760000   1310685  ...       0.0       0     0.0       0
3        3285320000   1294359  ...       0.0       0     0.0       0
4         398250000   1257506  ...       0.0       0     0.0       0
...             ...       ...  ...       ...     ...     ...     ...
190375   4426440000     75310  ...       0.0       0     0.0       0
190376   1636080000     43993  ...       0.0       0     0.0       0
190377   1344490000     27741  ...       0.0       0     0.0       0
190378   1065000000     14560  ...       0.0       0     0.0       0
190379   3397220000      7284  ...       0.0       0     0.0       0

        기관누적순매수량  등락주선  등락비율  예탁금  주식회전율  거래성립률
0              0     0   0.0    0    0.0    0.0
1              0     0   0.0    0    0.0    0.0
2              0     0   0.0    0    0.0    0.0
3              0     0   0.0    0    0.0    0.0
4              0     0   0.0    0    0.0    0.0
...          ...   ...   ...  ...    ...    ...
190375         0     0   0.0    0    0.0    0.0
190376         0     0   0.0    0    0.0    0.0
190377         0     0   0.0    0    0.0    0.0
190378         0     0   0.0    0    0.0    0.0
190379         0     0   0.0    0    0.0    0.0

[190380 rows x 25 columns]

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190380 entries, 0 to 190379
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  190380 non-null  int64
 1   시간          190380 non-null  int64
 2   시가          190380 non-null  int64
 3   고가          190380 non-null  int64
 4   저가          190380 non-null  int64
 5   종가          190380 non-null  int64
 6   전일대비        190380 non-null  int64
 7   거래량         190380 non-null  int64
 8   거래대금        190380 non-null  int64
 9   누적체결매도수량    190380 non-null  int64
 10  상장주식수       190380 non-null  int64
 11  시가총액        190380 non-null  int64
 12  외국인주문한도수량   190380 non-null  int64
 13  외국인주문가능수량   190380 non-null  int64
 14  외국인현보유수량    190380 non-null  int64
 15  외국인현보유비율    190380 non-null  float64
 16  수정주가일자      190380 non-null  int64
 17  수정주가비율      190380 non-null  float64
 18  기관순매수량      190380 non-null  int64
 19  기관누적순매수량    190380 non-null  int64
 20  등락주선        190380 non-null  int64
 21  등락비율        190380 non-null  float64
 22  예탁금         190380 non-null  int64
 23  주식회전율       190380 non-null  float64
 24  거래성립률       190380 non-null  float64
dtypes: float64(5), int64(20)
memory usage: 36.3 MB

In [16]:
df2 = df2.astype({'Unnamed: 0':'int32'})
df2 = df2.astype({'시간':'int16'})
df2 = df2.astype({'시가':'int32'})
df2 = df2.astype({'고가':'int32'})
df2 = df2.astype({'저가':'int32'})
df2 = df2.astype({'종가':'int32'})
df2 = df2.astype({'전일대비':'int32'})
df2 = df2.astype({'거래량':'int32'})
df2 = df2.astype({'거래대금':'int64'})
df2 = df2.astype({'누적체결매도수량':'int32'})
df2 = df2.astype({'상장주식수':'int32'})
df2 = df2.astype({'시가총액':'int64'})
df2 = df2.astype({'외국인주문한도수량':'int32'})
df2 = df2.astype({'외국인주문가능수량':'int32'})
df2 = df2.astype({'외국인현보유수량':'int32'})
df2 = df2.astype({'외국인현보유비율':'float32'})
df2 = df2.astype({'수정주가일자':'int32'})
df2 = df2.astype({'수정주가비율':'float32'})
df2 = df2.astype({'기관순매수량':'int32'})
df2 = df2.astype({'기관누적순매수량':'int32'})
df2 = df2.astype({'등락주선':'int32'})
df2 = df2.astype({'등락비율':'float32'})
df2 = df2.astype({'예탁금':'int64'})
df2 = df2.astype({'주식회전율':'float32'})
df2 = df2.astype({'거래성립률':'float32'})

In [17]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190380 entries, 0 to 190379
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  190380 non-null  int32
 1   시간          190380 non-null  int16
 2   시가          190380 non-null  int32
 3   고가          190380 non-null  int32
 4   저가          190380 non-null  int32
 5   종가          190380 non-null  int32
 6   전일대비        190380 non-null  int32
 7   거래량         190380 non-null  int32
 8   거래대금        190380 non-null  int64
 9   누적체결매도수량    190380 non-null  int32
 10  상장주식수       190380 non-null  int32
 11  시가총액        190380 non-null  int64
 12  외국인주문한도수량   190380 non-null  int32
 13  외국인주문가능수량   190380 non-null  int32
 14  외국인현보유수량    190380 non-null  int32
 15  외국인현보유비율    190380 non-null  float32
 16  수정주가일자      190380 non-null  int32
 17  수정주가비율      190380 non-null  float32
 18  기관순매수량      190380 non-null  int32
 19  기관누적순매수량    190380 non-null  int32
 20  등락주선        190380 non-null  int32
 21  등락비율        190380 non-null  float32
 22  예탁금         190380 non-null  int64
 23  주식회전율       190380 non-null  float32
 24  거래성립률       190380 non-null  float32
dtypes: float32(5), int16(1), int32(16), int64(3)
memory usage: 20.0 MB

In [18]:
sql = 'SELECT COUNT(*) FROM STOCK'
print(pd.read_sql(sql=sql, con=db1))

   COUNT(*)
0    190380

c:\Users\TJ\.conda\envs\tf2\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(