In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd
import csv
import os
import time

In [2]:
# mysql connect하기 위한 아이디 비밀번호 포트 데이터베이스 등록 및 conn 리턴
def sqlalchemy_connect():
    engine = create_engine("mysql+pymysql://root:"
                +"big15"
                +"@localhost:3306/big15?charset=utf8"
                , encoding='utf8')
    
    return engine.connect()

In [3]:
# mysql connect하기 위한 아이디 비밀번호 포트 데이터베이스 등록 및 conn 리턴
def sqlalchemy_connect_ip(ip_address, db_name):
    engine = create_engine("mysql+pymysql://admin:"
                +"big15" # user password
                +"@{0}:3306/{1}?charset=utf8".format(ip_address, db_name)
                , encoding='utf8')
    
    return engine.connect()

In [4]:
# Data csv => SQL에 추가
def sqlalchemy_data_insert(sqlalchemy_conn):
    
    # for문 돌려서 파일 리스트 받고 하나씩 읽는다
    for i, file in enumerate(os.listdir('../data/20221121/complete/')):
        stock_code_name = file[1:].split('.')[0]

        stock_info = pd.read_csv('../data/20221121/complete/{0}'.format(file))

        stock_info['년'] = stock_info['날짜'].apply(str).str[:4].astype('int')
        stock_info['월'] = stock_info['날짜'].apply(str).str[4:6].astype('int')
        stock_info['일'] = stock_info['날짜'].apply(str).str[6:8].astype('int')
        stock_info.sort_index(ascending=False, inplace=True)
        # name= table명
        # con= connect할 때 들어가는 아이디 비밀번호 등등
        # if_exists= 'append' : 기존 테이블이 있는 경우 데이터를 추가
        # 'fail' : 기존 테이블이 있는 경우 아무일도 없지만 없을 경우 valuesError뜸
        # 'replace' : 기존 테이블이 있을 경우, 기존 테이블을 삭제하고 다시 테이블을
        try:
            count = stock_info.to_sql(name='{0}'.format(stock_code_name), con=sqlalchemy_conn, if_exists='replace', index=False)
            stock_info = pd.DataFrame()
            print('처리된 row 수 : {0}, 순서 : {1}, 파일명 : {2}'.format(count, i+1, file))
        except:
            print('error 발생. 순서 : {0}, 파일명 {1}'.format(i+1, file))
        

        

        #     # 현재 DB 내 존재하는 테이블(종목) 추출
        # sql = "ALTER TABLE stock_info.{0} ADD PRIMARY KEY (날짜, 시간)".format(stock_code_name)

        # with pymysql_conn:
        #     with pymysql_conn.cursor() as cur:
        #         cur.execute(sql)
            
def get_pymysql_connection(ip_address, db_name):

    conn = pymysql.connect(host=ip_address, user='admin', password='big15'
                        , db=db_name, charset='utf8')

    return conn

In [7]:
sqlalchemy_data_insert(sqlalchemy_connect_ip('192.168.50.123', 'stock_info'))

처리된 row 수 : 194571, 순서 : 1, 파일명 : A000020.csv
처리된 row 수 : 194571, 순서 : 2, 파일명 : A000040.csv
처리된 row 수 : 194571, 순서 : 3, 파일명 : A000050.csv
처리된 row 수 : 194571, 순서 : 4, 파일명 : A000060.csv
처리된 row 수 : 194571, 순서 : 5, 파일명 : A000070.csv
처리된 row 수 : 194571, 순서 : 6, 파일명 : A000080.csv
처리된 row 수 : 194571, 순서 : 7, 파일명 : A000100.csv
처리된 row 수 : 194571, 순서 : 8, 파일명 : A000120.csv
처리된 row 수 : 194571, 순서 : 9, 파일명 : A000140.csv
처리된 row 수 : 194571, 순서 : 10, 파일명 : A000150.csv
처리된 row 수 : 194571, 순서 : 11, 파일명 : A000180.csv
처리된 row 수 : 194571, 순서 : 12, 파일명 : A000210.csv
처리된 row 수 : 194571, 순서 : 13, 파일명 : A000220.csv
처리된 row 수 : 194571, 순서 : 14, 파일명 : A000230.csv
처리된 row 수 : 194571, 순서 : 15, 파일명 : A000240.csv
처리된 row 수 : 194571, 순서 : 16, 파일명 : A000250.csv
처리된 row 수 : 194571, 순서 : 17, 파일명 : A000270.csv
처리된 row 수 : 194571, 순서 : 18, 파일명 : A000300.csv
처리된 row 수 : 194568, 순서 : 19, 파일명 : A000320.csv
처리된 row 수 : 194571, 순서 : 20, 파일명 : A000370.csv
처리된 row 수 : 194571, 순서 : 21, 파일명 : A000390.csv
처리된 row 수 : 194571, 순서 : 22, 파일명 : A000400.csv
처리된 row 수 : 194571, 순서 : 23, 파일명 : A000430.csv
처리된 row 수 : 192666, 순서 : 24, 파일명 : A000440.csv
처리된 row 수 : 194571, 순서 : 25, 파일명 : A000480.csv
처리된 row 수 : 194571, 순서 : 26, 파일명 : A000490.csv
처리된 row 수 : 194571, 순서 : 27, 파일명 : A000500.csv
처리된 row 수 : 194571, 순서 : 28, 파일명 : A000520.csv
처리된 row 수 : 194571, 순서 : 29, 파일명 : A000540.csv
처리된 row 수 : 194571, 순서 : 30, 파일명 : A000590.csv
처리된 row 수 : 194571, 순서 : 31, 파일명 : A000640.csv
처리된 row 수 : 194571, 순서 : 32, 파일명 : A000650.csv
처리된 row 수 : 194571, 순서 : 33, 파일명 : A000660.csv
처리된 row 수 : 194571, 순서 : 34, 파일명 : A000670.csv
처리된 row 수 : 194571, 순서 : 35, 파일명 : A000680.csv
처리된 row 수 : 194571, 순서 : 36, 파일명 : A000700.csv
처리된 row 수 : 194571, 순서 : 37, 파일명 : A000720.csv
처리된 row 수 : 194571, 순서 : 38, 파일명 : A000760.csv
처리된 row 수 : 194571, 순서 : 39, 파일명 : A000810.csv
처리된 row 수 : 194561, 순서 : 40, 파일명 : A000850.csv
처리된 row 수 : 194571, 순서 : 41, 파일명 : A000860.csv
처리된 row 수 : 194571, 순서 : 42, 파일명 : A000880.csv
처리된 row 수 : 194571, 순서 : 43, 파일명 : A000890.csv
처리된 row 수 : 194571, 순서 : 44, 파일명 : A000910.csv
처리된 row 수 : 194571, 순서 : 45, 파일명 : A000950.csv
처리된 row 수 : 194571, 순서 : 46, 파일명 : A000970.csv
처리된 row 수 : 194571, 순서 : 47, 파일명 : A000990.csv
처리된 row 수 : 192666, 순서 : 48, 파일명 : A001000.csv
처리된 row 수 : 194571, 순서 : 49, 파일명 : A001020.csv
처리된 row 수 : 194571, 순서 : 50, 파일명 : A001040.csv
처리된 row 수 : 194571, 순서 : 51, 파일명 : A001060.csv
처리된 row 수 : 194563, 순서 : 52, 파일명 : A001070.csv
처리된 row 수 : 194571, 순서 : 53, 파일명 : A001080.csv
처리된 row 수 : 194571, 순서 : 54, 파일명 : A001120.csv
처리된 row 수 : 194571, 순서 : 55, 파일명 : A001130.csv
처리된 row 수 : 194571, 순서 : 56, 파일명 : A001140.csv
처리된 row 수 : 194571, 순서 : 57, 파일명 : A001200.csv
처리된 row 수 : 194571, 순서 : 58, 파일명 : A001210.csv
처리된 row 수 : 194571, 순서 : 59, 파일명 : A001230.csv
처리된 row 수 : 194571, 순서 : 60, 파일명 : A001250.csv
처리된 row 수 : 194571, 순서 : 61, 파일명 : A001260.csv
처리된 row 수 : 194571, 순서 : 62, 파일명 : A001270.csv
처리된 row 수 : 194571, 순서 : 63, 파일명 : A001290.csv
처리된 row 수 : 194571, 순서 : 64, 파일명 : A001340.csv
처리된 row 수 : 194571, 순서 : 65, 파일명 : A001360.csv
처리된 row 수 : 194571, 순서 : 66, 파일명 : A001380.csv
처리된 row 수 : 194571, 순서 : 67, 파일명 : A001390.csv
처리된 row 수 : 194571, 순서 : 68, 파일명 : A001420.csv
처리된 row 수 : 194571, 순서 : 69, 파일명 : A001430.csv
처리된 row 수 : 97378, 순서 : 70, 파일명 : A001440.csv
처리된 row 수 : 194571, 순서 : 71, 파일명 : A001450.csv
처리된 row 수 : 194571, 순서 : 72, 파일명 : A001460.csv
처리된 row 수 : 194571, 순서 : 73, 파일명 : A001470.csv
처리된 row 수 : 194571, 순서 : 74, 파일명 : A001500.csv
처리된 row 수 : 194571, 순서 : 75, 파일명 : A001510.csv
처리된 row 수 : 194571, 순서 : 76, 파일명 : A001520.csv
처리된 row 수 : 194571, 순서 : 77, 파일명 : A001530.csv
처리된 row 수 : 192666, 순서 : 78, 파일명 : A001540.csv
처리된 row 수 : 194571, 순서 : 79, 파일명 : A001550.csv
처리된 row 수 : 194571, 순서 : 80, 파일명 : A001560.csv
처리된 row 수 : 194571, 순서 : 81, 파일명 : A001570.csv
처리된 row 수 : 194571, 순서 : 82, 파일명 : A001620.csv
처리된 row 수 : 194571, 순서 : 83, 파일명 : A001630.csv
처리된 row 수 : 194571, 순서 : 84, 파일명 : A001680.csv
처리된 row 수 : 194571, 순서 : 85, 파일명 : A001720.csv
처리된 row 수 : 194571, 순서 : 86, 파일명 : A001740.csv
처리된 row 수 : 194571, 순서 : 87, 파일명 : A001750.csv
처리된 row 수 : 194571, 순서 : 88, 파일명 : A001770.csv
처리된 row 수 : 194571, 순서 : 89, 파일명 : A001780.csv
처리된 row 수 : 194571, 순서 : 90, 파일명 : A001790.csv
처리된 row 수 : 194571, 순서 : 91, 파일명 : A001800.csv
처리된 row 수 : 192666, 순서 : 92, 파일명 : A001810.csv
처리된 row 수 : 194571, 순서 : 93, 파일명 : A001820.csv
처리된 row 수 : 194571, 순서 : 94, 파일명 : A001840.csv
처리된 row 수 : 194571, 순서 : 95, 파일명 : A001880.csv
처리된 row 수 : 194570, 순서 : 96, 파일명 : A001940.csv
처리된 row 수 : 194571, 순서 : 97, 파일명 : A002020.csv
처리된 row 수 : 194571, 순서 : 98, 파일명 : A002030.csv
처리된 row 수 : 194571, 순서 : 99, 파일명 : A002070.csv
처리된 row 수 : 194571, 순서 : 100, 파일명 : A002100.csv
처리된 row 수 : 194571, 순서 : 101, 파일명 : A002140.csv
처리된 row 수 : 194571, 순서 : 102, 파일명 : A002150.csv
처리된 row 수 : 194571, 순서 : 103, 파일명 : A002170.csv
처리된 row 수 : 194571, 순서 : 104, 파일명 : A002200.csv
처리된 row 수 : 194571, 순서 : 105, 파일명 : A002210.csv
처리된 row 수 : 194571, 순서 : 106, 파일명 : A002220.csv
처리된 row 수 : 194571, 순서 : 107, 파일명 : A002230.csv
처리된 row 수 : 194571, 순서 : 108, 파일명 : A002240.csv
처리된 row 수 : 194571, 순서 : 109, 파일명 : A002290.csv
처리된 row 수 : 194571, 순서 : 110, 파일명 : A002310.csv
처리된 row 수 : 194571, 순서 : 111, 파일명 : A002320.csv
처리된 row 수 : 194571, 순서 : 112, 파일명 : A002350.csv
처리된 row 수 : 194571, 순서 : 113, 파일명 : A002360.csv
처리된 row 수 : 194571, 순서 : 114, 파일명 : A002380.csv
처리된 row 수 : 194571, 순서 : 115, 파일명 : A002390.csv
처리된 row 수 : 194571, 순서 : 116, 파일명 : A002410.csv
처리된 row 수 : 85665, 순서 : 117, 파일명 : A002420.csv
처리된 row 수 : 194571, 순서 : 118, 파일명 : A002450.csv
처리된 row 수 : 194571, 순서 : 119, 파일명 : A002460.csv
처리된 row 수 : 194571, 순서 : 120, 파일명 : A002600.csv
처리된 row 수 : 194571, 순서 : 121, 파일명 : A002620.csv
처리된 row 수 : 194571, 순서 : 122, 파일명 : A002630.csv
처리된 row 수 : 194571, 순서 : 123, 파일명 : A002680.csv
처리된 row 수 : 194571, 순서 : 124, 파일명 : A002690.csv
처리된 row 수 : 194571, 순서 : 125, 파일명 : A002700.csv
처리된 row 수 : 194571, 순서 : 126, 파일명 : A002710.csv
처리된 row 수 : 194571, 순서 : 127, 파일명 : A002720.csv
처리된 row 수 : 194571, 순서 : 128, 파일명 : A002760.csv
처리된 row 수 : 194571, 순서 : 129, 파일명 : A002780.csv
처리된 row 수 : 194571, 순서 : 130, 파일명 : A002790.csv
처리된 row 수 : 194571, 순서 : 131, 파일명 : A002800.csv
처리된 row 수 : 194571, 순서 : 132, 파일명 : A002810.csv
처리된 row 수 : 194571, 순서 : 133, 파일명 : A002820.csv
처리된 row 수 : 194561, 순서 : 134, 파일명 : A002840.csv
처리된 row 수 : 194571, 순서 : 135, 파일명 : A002870.csv
처리된 row 수 : 194571, 순서 : 136, 파일명 : A002880.csv
처리된 row 수 : 194571, 순서 : 137, 파일명 : A002900.csv
처리된 row 수 : 194571, 순서 : 138, 파일명 : A002920.csv
처리된 row 수 : 194566, 순서 : 139, 파일명 : A002960.csv
처리된 row 수 : 194571, 순서 : 140, 파일명 : A002990.csv
처리된 row 수 : 194571, 순서 : 141, 파일명 : A003000.csv
처리된 row 수 : 194571, 순서 : 142, 파일명 : A003010.csv
처리된 row 수 : 194571, 순서 : 143, 파일명 : A003030.csv
처리된 row 수 : 194571, 순서 : 144, 파일명 : A003060.csv
처리된 row 수 : 194571, 순서 : 145, 파일명 : A003070.csv
처리된 row 수 : 194568, 순서 : 146, 파일명 : A003080.csv
처리된 row 수 : 194571, 순서 : 147, 파일명 : A003090.csv
처리된 row 수 : 194571, 순서 : 148, 파일명 : A003100.csv
처리된 row 수 : 194571, 순서 : 149, 파일명 : A003120.csv
처리된 row 수 : 194571, 순서 : 150, 파일명 : A003160.csv
처리된 row 수 : 194571, 순서 : 151, 파일명 : A003200.csv
처리된 row 수 : 194571, 순서 : 152, 파일명 : A003220.csv
처리된 row 수 : 194571, 순서 : 153, 파일명 : A003230.csv
처리된 row 수 : 194571, 순서 : 154, 파일명 : A003240.csv
처리된 row 수 : 110430, 순서 : 155, 파일명 : A003280.csv
처리된 row 수 : 194571, 순서 : 156, 파일명 : A003300.csv
처리된 row 수 : 194571, 순서 : 157, 파일명 : A003310.csv
처리된 row 수 : 194571, 순서 : 158, 파일명 : A003350.csv
처리된 row 수 : 194571, 순서 : 159, 파일명 : A003380.csv
처리된 row 수 : 194571, 순서 : 160, 파일명 : A003410.csv
처리된 row 수 : 194571, 순서 : 161, 파일명 : A003460.csv
처리된 row 수 : 194571, 순서 : 162, 파일명 : A003470.csv
처리된 row 수 : 194571, 순서 : 163, 파일명 : A003480.csv
처리된 row 수 : 194571, 순서 : 164, 파일명 : A003490.csv
처리된 row 수 : 194571, 순서 : 165, 파일명 : A003520.csv
처리된 row 수 : 194571, 순서 : 166, 파일명 : A003530.csv
처리된 row 수 : 194571, 순서 : 167, 파일명 : A003540.csv
처리된 row 수 : 194571, 순서 : 168, 파일명 : A003550.csv
처리된 row 수 : 194571, 순서 : 169, 파일명 : A003560.csv
처리된 row 수 : 194571, 순서 : 170, 파일명 : A003570.csv
처리된 row 수 : 194571, 순서 : 171, 파일명 : A003580.csv
처리된 row 수 : 194571, 순서 : 172, 파일명 : A003610.csv
처리된 row 수 : 194571, 순서 : 173, 파일명 : A003620.csv
처리된 row 수 : 194561, 순서 : 174, 파일명 : A003650.csv
처리된 row 수 : 194571, 순서 : 175, 파일명 : A003670.csv
처리된 row 수 : 194571, 순서 : 176, 파일명 : A003680.csv
처리된 row 수 : 194571, 순서 : 177, 파일명 : A003690.csv
처리된 row 수 : 194571, 순서 : 178, 파일명 : A003720.csv
처리된 row 수 : 194571, 순서 : 179, 파일명 : A003780.csv
처리된 row 수 : 194571, 순서 : 180, 파일명 : A003800.csv
처리된 row 수 : 194532, 순서 : 181, 파일명 : A003830.csv
처리된 row 수 : 194571, 순서 : 182, 파일명 : A003850.csv
처리된 row 수 : 194571, 순서 : 183, 파일명 : A003920.csv
처리된 row 수 : 194571, 순서 : 184, 파일명 : A003960.csv
처리된 row 수 : 194571, 순서 : 185, 파일명 : A004000.csv
처리된 row 수 : 194571, 순서 : 186, 파일명 : A004020.csv
처리된 row 수 : 194571, 순서 : 187, 파일명 : A004060.csv
처리된 row 수 : 194564, 순서 : 188, 파일명 : A004080.csv
처리된 row 수 : 194571, 순서 : 189, 파일명 : A004090.csv
처리된 row 수 : 194571, 순서 : 190, 파일명 : A004100.csv
처리된 row 수 : 194571, 순서 : 191, 파일명 : A004140.csv
처리된 row 수 : 194571, 순서 : 192, 파일명 : A004150.csv
처리된 row 수 : 194571, 순서 : 193, 파일명 : A004170.csv
처리된 row 수 : 194571, 순서 : 194, 파일명 : A004250.csv
처리된 row 수 : 194571, 순서 : 195, 파일명 : A004270.csv
처리된 row 수 : 194571, 순서 : 196, 파일명 : A004310.csv
처리된 row 수 : 194571, 순서 : 197, 파일명 : A004360.csv
처리된 row 수 : 194571, 순서 : 198, 파일명 : A004370.csv
처리된 row 수 : 194571, 순서 : 199, 파일명 : A004380.csv
처리된 row 수 : 194571, 순서 : 200, 파일명 : A004410.csv
처리된 row 수 : 194571, 순서 : 201, 파일명 : A004430.csv
처리된 row 수 : 194571, 순서 : 202, 파일명 : A004440.csv
처리된 row 수 : 194549, 순서 : 203, 파일명 : A004450.csv
처리된 row 수 : 194571, 순서 : 204, 파일명 : A004490.csv
처리된 row 수 : 194571, 순서 : 205, 파일명 : A004540.csv
처리된 row 수 : 194571, 순서 : 206, 파일명 : A004560.csv
처리된 row 수 : 194571, 순서 : 207, 파일명 : A004590.csv
처리된 row 수 : 194571, 순서 : 208, 파일명 : A004650.csv
처리된 row 수 : 194571, 순서 : 209, 파일명 : A004690.csv
처리된 row 수 : 194571, 순서 : 210, 파일명 : A004700.csv
처리된 row 수 : 194571, 순서 : 211, 파일명 : A004710.csv
처리된 row 수 : 194571, 순서 : 212, 파일명 : A004720.csv
처리된 row 수 : 194571, 순서 : 213, 파일명 : A004770.csv
처리된 row 수 : 194571, 순서 : 214, 파일명 : A004780.csv
처리된 row 수 : 194571, 순서 : 215, 파일명 : A004800.csv
처리된 row 수 : 194571, 순서 : 216, 파일명 : A004830.csv
처리된 row 수 : 194571, 순서 : 217, 파일명 : A004840.csv
처리된 row 수 : 194571, 순서 : 218, 파일명 : A004870.csv
처리된 row 수 : 194571, 순서 : 219, 파일명 : A004890.csv
처리된 row 수 : 194571, 순서 : 220, 파일명 : A004910.csv
처리된 row 수 : 194571, 순서 : 221, 파일명 : A004920.csv
처리된 row 수 : 194571, 순서 : 222, 파일명 : A004960.csv
처리된 row 수 : 194571, 순서 : 223, 파일명 : A004970.csv
처리된 row 수 : 194571, 순서 : 224, 파일명 : A004980.csv
처리된 row 수 : 194571, 순서 : 225, 파일명 : A004990.csv
처리된 row 수 : 194571, 순서 : 226, 파일명 : A005010.csv
처리된 row 수 : 194571, 순서 : 227, 파일명 : A005030.csv
처리된 row 수 : 194571, 순서 : 228, 파일명 : A005070.csv
처리된 row 수 : 194571, 순서 : 229, 파일명 : A005090.csv
처리된 row 수 : 194571, 순서 : 230, 파일명 : A005110.csv
처리된 row 수 : 194571, 순서 : 231, 파일명 : A005160.csv
처리된 row 수 : 194571, 순서 : 232, 파일명 : A005180.csv
처리된 row 수 : 194571, 순서 : 233, 파일명 : A005250.csv
처리된 row 수 : 194571, 순서 : 234, 파일명 : A005290.csv
처리된 row 수 : 194571, 순서 : 235, 파일명 : A005300.csv
처리된 row 수 : 194571, 순서 : 236, 파일명 : A005320.csv
처리된 row 수 : 194571, 순서 : 237, 파일명 : A005360.csv
처리된 row 수 : 194571, 순서 : 238, 파일명 : A005380.csv
처리된 row 수 : 194571, 순서 : 239, 파일명 : A005390.csv
처리된 row 수 : 194571, 순서 : 240, 파일명 : A005420.csv
처리된 row 수 : 194571, 순서 : 241, 파일명 : A005430.csv
처리된 row 수 : 194571, 순서 : 242, 파일명 : A005440.csv
처리된 row 수 : 194571, 순서 : 243, 파일명 : A005490.csv
처리된 row 수 : 194571, 순서 : 244, 파일명 : A005500.csv
처리된 row 수 : 194571, 순서 : 245, 파일명 : A005610.csv
처리된 row 수 : 194571, 순서 : 246, 파일명 : A005670.csv
처리된 row 수 : 194571, 순서 : 247, 파일명 : A005680.csv
처리된 row 수 : 194571, 순서 : 248, 파일명 : A005690.csv
처리된 row 수 : 194571, 순서 : 249, 파일명 : A005710.csv
처리된 row 수 : 194571, 순서 : 250, 파일명 : A005720.csv
처리된 row 수 : 194571, 순서 : 251, 파일명 : A005740.csv
처리된 row 수 : 194571, 순서 : 252, 파일명 : A005750.csv
처리된 row 수 : 194571, 순서 : 253, 파일명 : A005800.csv
처리된 row 수 : 194571, 순서 : 254, 파일명 : A005810.csv
처리된 row 수 : 194564, 순서 : 255, 파일명 : A005820.csv
처리된 row 수 : 194571, 순서 : 256, 파일명 : A005830.csv
처리된 row 수 : 194571, 순서 : 257, 파일명 : A005850.csv
처리된 row 수 : 194571, 순서 : 258, 파일명 : A005860.csv
처리된 row 수 : 194571, 순서 : 259, 파일명 : A005870.csv
처리된 row 수 : 194571, 순서 : 260, 파일명 : A005880.csv
처리된 row 수 : 194571, 순서 : 261, 파일명 : A005930.csv
처리된 row 수 : 194571, 순서 : 262, 파일명 : A005940.csv
처리된 row 수 : 194571, 순서 : 263, 파일명 : A005950.csv
처리된 row 수 : 194571, 순서 : 264, 파일명 : A005960.csv
처리된 row 수 : 194571, 순서 : 265, 파일명 : A005990.csv
처리된 row 수 : 194571, 순서 : 266, 파일명 : A006040.csv
처리된 row 수 : 194571, 순서 : 267, 파일명 : A006050.csv
처리된 row 수 : 194571, 순서 : 268, 파일명 : A006060.csv
처리된 row 수 : 194571, 순서 : 269, 파일명 : A006090.csv
처리된 row 수 : 194571, 순서 : 270, 파일명 : A006110.csv
처리된 row 수 : 194571, 순서 : 271, 파일명 : A006120.csv
처리된 row 수 : 194571, 순서 : 272, 파일명 : A006140.csv
처리된 row 수 : 194571, 순서 : 273, 파일명 : A006200.csv
처리된 row 수 : 194571, 순서 : 274, 파일명 : A006220.csv
처리된 row 수 : 194571, 순서 : 275, 파일명 : A006260.csv
처리된 row 수 : 194571, 순서 : 276, 파일명 : A006280.csv
처리된 row 수 : 194571, 순서 : 277, 파일명 : A006340.csv
처리된 row 수 : 194571, 순서 : 278, 파일명 : A006360.csv
처리된 row 수 : 194571, 순서 : 279, 파일명 : A006370.csv
처리된 row 수 : 194571, 순서 : 280, 파일명 : A006380.csv
처리된 row 수 : 194571, 순서 : 281, 파일명 : A006390.csv
처리된 row 수 : 194571, 순서 : 282, 파일명 : A006400.csv
처리된 row 수 : 194571, 순서 : 283, 파일명 : A006490.csv
처리된 row 수 : 194562, 순서 : 284, 파일명 : A006570.csv
처리된 row 수 : 194571, 순서 : 285, 파일명 : A006580.csv
처리된 row 수 : 194571, 순서 : 286, 파일명 : A006620.csv
처리된 row 수 : 194571, 순서 : 287, 파일명 : A006650.csv
처리된 row 수 : 194571, 순서 : 288, 파일명 : A006660.csv
처리된 row 수 : 194571, 순서 : 289, 파일명 : A006730.csv
처리된 row 수 : 194571, 순서 : 290, 파일명 : A006740.csv
처리된 row 수 : 194571, 순서 : 291, 파일명 : A006800.csv
처리된 row 수 : 194571, 순서 : 292, 파일명 : A006840.csv
처리된 row 수 : 194571, 순서 : 293, 파일명 : A006880.csv
처리된 row 수 : 194571, 순서 : 294, 파일명 : A006890.csv
처리된 row 수 : 194571, 순서 : 295, 파일명 : A006910.csv
처리된 row 수 : 194571, 순서 : 296, 파일명 : A006920.csv
처리된 row 수 : 194571, 순서 : 297, 파일명 : A006980.csv
처리된 row 수 : 194571, 순서 : 298, 파일명 : A007070.csv
처리된 row 수 : 194571, 순서 : 299, 파일명 : A007110.csv
처리된 row 수 : 194571, 순서 : 300, 파일명 : A007120.csv
처리된 row 수 : 194571, 순서 : 301, 파일명 : A007160.csv
처리된 row 수 : 194571, 순서 : 302, 파일명 : A007210.csv
처리된 row 수 : 194571, 순서 : 303, 파일명 : A007280.csv
처리된 row 수 : 194571, 순서 : 304, 파일명 : A007310.csv
처리된 row 수 : 194571, 순서 : 305, 파일명 : A007330.csv
처리된 row 수 : 194571, 순서 : 306, 파일명 : A007340.csv
처리된 row 수 : 194571, 순서 : 307, 파일명 : A007370.csv
처리된 row 수 : 194571, 순서 : 308, 파일명 : A007390.csv
처리된 row 수 : 194571, 순서 : 309, 파일명 : A007460.csv
처리된 row 수 : 194571, 순서 : 310, 파일명 : A007530.csv
처리된 row 수 : 194571, 순서 : 311, 파일명 : A007540.csv
처리된 row 수 : 194571, 순서 : 312, 파일명 : A007570.csv
처리된 row 수 : 194571, 순서 : 313, 파일명 : A007590.csv
처리된 row 수 : 194571, 순서 : 314, 파일명 : A007610.csv
처리된 row 수 : 194571, 순서 : 315, 파일명 : A007660.csv
처리된 row 수 : 194571, 순서 : 316, 파일명 : A007680.csv
처리된 row 수 : 194571, 순서 : 317, 파일명 : A007690.csv
처리된 row 수 : 194571, 순서 : 318, 파일명 : A007700.csv
처리된 row 수 : 194571, 순서 : 319, 파일명 : A007720.csv
처리된 row 수 : 194571, 순서 : 320, 파일명 : A007770.csv
처리된 row 수 : 194571, 순서 : 321, 파일명 : A007810.csv
처리된 row 수 : 194571, 순서 : 322, 파일명 : A007820.csv
처리된 row 수 : 194571, 순서 : 323, 파일명 : A007860.csv
처리된 row 수 : 194571, 순서 : 324, 파일명 : A007980.csv
처리된 row 수 : 194571, 순서 : 325, 파일명 : A008040.csv
처리된 row 수 : 194571, 순서 : 326, 파일명 : A008060.csv
처리된 row 수 : 194571, 순서 : 327, 파일명 : A008110.csv
처리된 row 수 : 194571, 순서 : 328, 파일명 : A008250.csv
처리된 row 수 : 194571, 순서 : 329, 파일명 : A008260.csv
처리된 row 수 : 194571, 순서 : 330, 파일명 : A008290.csv
처리된 row 수 : 194571, 순서 : 331, 파일명 : A008350.csv
처리된 row 수 : 194571, 순서 : 332, 파일명 : A008370.csv
처리된 row 수 : 194571, 순서 : 333, 파일명 : A008420.csv
처리된 row 수 : 194571, 순서 : 334, 파일명 : A008470.csv
처리된 row 수 : 194571, 순서 : 335, 파일명 : A008490.csv
처리된 row 수 : 194571, 순서 : 336, 파일명 : A008500.csv
처리된 row 수 : 194571, 순서 : 337, 파일명 : A008560.csv
처리된 row 수 : 194571, 순서 : 338, 파일명 : A008600.csv
처리된 row 수 : 194571, 순서 : 339, 파일명 : A008700.csv
처리된 row 수 : 194571, 순서 : 340, 파일명 : A008730.csv
처리된 row 수 : 194571, 순서 : 341, 파일명 : A008770.csv
처리된 row 수 : 194571, 순서 : 342, 파일명 : A008830.csv
처리된 row 수 : 194571, 순서 : 343, 파일명 : A008870.csv
처리된 row 수 : 194571, 순서 : 344, 파일명 : A008930.csv
처리된 row 수 : 194571, 순서 : 345, 파일명 : A008970.csv
처리된 row 수 : 194571, 순서 : 346, 파일명 : A009070.csv
처리된 row 수 : 194571, 순서 : 347, 파일명 : A009140.csv
처리된 row 수 : 194571, 순서 : 348, 파일명 : A009150.csv
처리된 row 수 : 194571, 순서 : 349, 파일명 : A009160.csv
처리된 row 수 : 194571, 순서 : 350, 파일명 : A009180.csv
처리된 row 수 : 194571, 순서 : 351, 파일명 : A009190.csv
처리된 row 수 : 194571, 순서 : 352, 파일명 : A009200.csv
처리된 row 수 : 194571, 순서 : 353, 파일명 : A009240.csv
처리된 row 수 : 194571, 순서 : 354, 파일명 : A009270.csv
처리된 row 수 : 194571, 순서 : 355, 파일명 : A009290.csv
처리된 row 수 : 194571, 순서 : 356, 파일명 : A009300.csv
처리된 row 수 : 194571, 순서 : 357, 파일명 : A009310.csv
처리된 row 수 : 194571, 순서 : 358, 파일명 : A009320.csv
처리된 row 수 : 194571, 순서 : 359, 파일명 : A009410.csv
처리된 row 수 : 194571, 순서 : 360, 파일명 : A009420.csv
처리된 row 수 : 194571, 순서 : 361, 파일명 : A009440.csv
처리된 row 수 : 194571, 순서 : 362, 파일명 : A009450.csv
처리된 row 수 : 194571, 순서 : 363, 파일명 : A009460.csv
처리된 row 수 : 194571, 순서 : 364, 파일명 : A009470.csv
처리된 row 수 : 194571, 순서 : 365, 파일명 : A009520.csv
처리된 row 수 : 194571, 순서 : 366, 파일명 : A009540.csv
처리된 row 수 : 194571, 순서 : 367, 파일명 : A009580.csv
처리된 row 수 : 194571, 순서 : 368, 파일명 : A009620.csv
처리된 row 수 : 194571, 순서 : 369, 파일명 : A009680.csv
처리된 row 수 : 1905, 순서 : 370, 파일명 : A009730.csv
처리된 row 수 : 194571, 순서 : 371, 파일명 : A009770.csv
처리된 row 수 : 194571, 순서 : 372, 파일명 : A009780.csv
처리된 row 수 : 187332, 순서 : 373, 파일명 : A009810.csv
처리된 row 수 : 194571, 순서 : 374, 파일명 : A009830.csv
처리된 row 수 : 183903, 순서 : 375, 파일명 : A009900.csv
처리된 row 수 : 194571, 순서 : 376, 파일명 : A009970.csv
처리된 row 수 : 194571, 순서 : 377, 파일명 : A010040.csv
처리된 row 수 : 194571, 순서 : 378, 파일명 : A010050.csv
처리된 row 수 : 194571, 순서 : 379, 파일명 : A010060.csv
처리된 row 수 : 194571, 순서 : 380, 파일명 : A010100.csv
처리된 row 수 : 194571, 순서 : 381, 파일명 : A010120.csv
처리된 row 수 : 194571, 순서 : 382, 파일명 : A010130.csv
처리된 row 수 : 194571, 순서 : 383, 파일명 : A010140.csv
처리된 row 수 : 194571, 순서 : 384, 파일명 : A010170.csv
처리된 row 수 : 194571, 순서 : 385, 파일명 : A010240.csv
처리된 row 수 : 194571, 순서 : 386, 파일명 : A010280.csv
처리된 row 수 : 194571, 순서 : 387, 파일명 : A010400.csv
처리된 row 수 : 194571, 순서 : 388, 파일명 : A010420.csv
처리된 row 수 : 194571, 순서 : 389, 파일명 : A010470.csv
처리된 row 수 : 18669, 순서 : 390, 파일명 : A010580.csv
처리된 row 수 : 194571, 순서 : 391, 파일명 : A010600.csv
처리된 row 수 : 194571, 순서 : 392, 파일명 : A010620.csv
처리된 row 수 : 194571, 순서 : 393, 파일명 : A010640.csv
처리된 row 수 : 194190, 순서 : 394, 파일명 : A010660.csv
처리된 row 수 : 194190, 순서 : 395, 파일명 : A010690.csv
처리된 row 수 : 194190, 순서 : 396, 파일명 : A010770.csv
처리된 row 수 : 194190, 순서 : 397, 파일명 : A010780.csv
처리된 row 수 : 194190, 순서 : 398, 파일명 : A010820.csv
처리된 row 수 : 194190, 순서 : 399, 파일명 : A010950.csv
처리된 row 수 : 194190, 순서 : 400, 파일명 : A010960.csv
처리된 row 수 : 194190, 순서 : 401, 파일명 : A011000.csv
처리된 row 수 : 194571, 순서 : 402, 파일명 : A011040.csv
처리된 row 수 : 194190, 순서 : 403, 파일명 : A011070.csv
처리된 row 수 : 194571, 순서 : 404, 파일명 : A011080.csv
처리된 row 수 : 194190, 순서 : 405, 파일명 : A011090.csv
처리된 row 수 : 194190, 순서 : 406, 파일명 : A011150.csv
처리된 row 수 : 194190, 순서 : 407, 파일명 : A011170.csv
처리된 row 수 : 194190, 순서 : 408, 파일명 : A011200.csv
처리된 row 수 : 194190, 순서 : 409, 파일명 : A011210.csv
처리된 row 수 : 194190, 순서 : 410, 파일명 : A011230.csv
처리된 row 수 : 194190, 순서 : 411, 파일명 : A011280.csv
처리된 row 수 : 194190, 순서 : 412, 파일명 : A011300.csv
처리된 row 수 : 194571, 순서 : 413, 파일명 : A011320.csv
처리된 row 수 : 194190, 순서 : 414, 파일명 : A011330.csv
처리된 row 수 : 194571, 순서 : 415, 파일명 : A011370.csv
처리된 row 수 : 194190, 순서 : 416, 파일명 : A011390.csv
처리된 row 수 : 194190, 순서 : 417, 파일명 : A011420.csv
처리된 row 수 : 194190, 순서 : 418, 파일명 : A011500.csv
처리된 row 수 : 194571, 순서 : 419, 파일명 : A011560.csv

In [5]:
from module.setting import instCpCodeMgr, instStockChart, instCpCybos
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from datetime import datetime
from datetime import timedelta
from random import uniform
from tqdm import tqdm
import pandas as pd
import numpy as np
import pymysql
import csv
import os
import time
import glob
import shutil
import numpy as np

today = str(datetime.today().year) + str(datetime.today().month) + str((datetime.today() - timedelta(1)).day)

def get_pymysql_connection(ip_address, db_name):

    conn = pymysql.connect(host=ip_address, user='admin', password='big15'
                        , db=db_name, charset='utf8')

    return conn
    
def get_pymysql_stock_list(conn, db_name):

    # 현재 DB 내 존재하는 테이블(종목) 추출
    sql = "SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '{0}'".format(db_name)

    with conn:
        with conn.cursor() as cur:
            cur.execute(sql)
            result = [item[0] for item in cur.fetchall()]
            cur.close()

            return result

def get_krx_stock_list():

    target = r"D:/systrader-dev/data/kos*.csv"
    csv_list = glob.glob(target)

    # today = str(datetime.today().year) + str(datetime.today().month) + str((datetime.today()).day)

    if len(csv_list) >= 1:
        
        csv_date = csv_list[0].split('.')[0][-8:]
        
        if csv_date != today:

            os.remove(csv_list[0])
            os.remove(csv_list[1])
        else:
            return
        
    driver = webdriver.Chrome("./chromedriver")

    driver.get("http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201020201")
    driver.implicitly_wait(20)
    time.sleep(4)
    driver.find_element(By.XPATH, '//*[@id="MDCSTAT019_FORM"]/div[1]/div/table/tbody/tr/td/label[2]').click()
    time.sleep(1.5)
    driver.implicitly_wait(20)
    driver.find_element(By.XPATH, '//*[@id="MDCSTAT019_FORM"]/div[2]/div[1]/p[2]/button[2]').click()	
    time.sleep(1.5)
    driver.implicitly_wait(20)
    driver.find_element(By.XPATH, '//*[@id="ui-id-1"]/div/div[2]').click()
    time.sleep(1.5)
    driver.implicitly_wait(20)
    driver.find_element(By.XPATH, '//*[@id="MDCSTAT019_FORM"]/div[1]/div/table/tbody/tr/td/label[3]').click()
    time.sleep(1.5)
    driver.implicitly_wait(20)
    driver.find_element(By.XPATH, '//*[@id="MDCSTAT019_FORM"]/div[2]/div[1]/p[2]/button[2]').click()	
    time.sleep(1.5)
    driver.implicitly_wait(20)
    driver.find_element(By.XPATH, '//*[@id="ui-id-3"]/div/div[2]').click()
    time.sleep(1.5)
    driver.close()

    target = r"C:Users/TJ/Downloads/data*.csv"
    new_csv_list = glob.glob(target)

    file_size_1 = os.path.getsize(new_csv_list[0])
    file_size_2 = os.path.getsize(new_csv_list[1])

    if file_size_1 < file_size_2:
        shutil.move(new_csv_list[0], "../data/kospi_{0}.csv".format(today))
        shutil.move(new_csv_list[1], "../data/kosdaq_{0}.csv".format(today))
    else:
        shutil.move(new_csv_list[1], "../data/kospi_{0}.csv".format(today))
        shutil.move(new_csv_list[0], "../data/kosdaq_{0}.csv".format(today))

def get_compare_list(stock_list):
# stock code가 테이블이 존재하는 비교

    # today = str(datetime.today().year) + str(datetime.today().month) + str(datetime.today().day)

    kospi = pd.read_csv(f'../data/kospi_{today}.csv', encoding='euc-kr')
    kosdaq = pd.read_csv(f'../data/kosdaq_{today}.csv', encoding='euc-kr')

    kospi = kospi[kospi['주식종류'] == '보통주'].iloc[:,[1,-3]].iloc[:,0]
    kosdaq = kosdaq[kosdaq['주식종류'] == '보통주'].iloc[:,[1,-3]].iloc[:,0]

    kospi_kosdaq_list = pd.concat([kospi,kosdaq]).to_list()

    exist_list = []
    empty_list = []

    for code in kospi_kosdaq_list:
        if code in stock_list:
            exist_list.append(code)
        elif code not in stock_list:
            empty_list.append(code)
    
    exist_list.sort()
    empty_list.sort()
    
    return exist_list, empty_list

def update_pymysql_exist(code, type, conn):
# 존재할 경우, 대신증권에서 해당 종목 일봉 분봉 업데이트문


    sql = "SELECT MAX(날짜) FROM STOCK_INFO.{0} ".format(code)

    cur = conn.cursor()
    cur.execute(sql)
    max_day = cur.fetchone()[0] # 마지막 업데이트 날짜

    # sql = "SELECT MAX(시간) FROM STOCK_INFO.{0} WHERE 날짜={1}".format(code, today)

    # cur = conn.cursor()
    # cur.execute(sql)
    # max_time = cur.fetchone()[0] # 마지막 업데이트 날짜

    # today = str(datetime.today().year) + str(datetime.today().month) + str((datetime.today()).day)

    day_format = '%Y%m%d'
    start_day = datetime.strftime(datetime.strptime(str(max_day), day_format) + timedelta(days=1), day_format)

    # 최종 업데이트 날짜가 오늘 날짜와 같은 경우 배제
    if (str(max_day) != today):
        temp_df = pd.DataFrame()
        while True:
            instStockChart.SetInputValue(0, 'A'+code) # 종목명
            instStockChart.SetInputValue(1, ord('1')) # 1 : 기간으로 요청, 2: 개수로 요청
            instStockChart.SetInputValue(3, start_day) # 요청 시작일 22일
            instStockChart.SetInputValue(2, start_day) # 요청 종료일 22일
            instStockChart.SetInputValue(5, [0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,18, 19,20,21,22,23,24,25,26])
            instStockChart.SetInputValue(6, ord(type)) # 'D' : 일봉, 'm' : 분봉
            instStockChart.SetInputValue(9, ord('1'))

            instStockChart.BlockRequest() # 위 정보로 요청

            numrow, numcolumn = instStockChart.GetHeaderValue(3), instStockChart.GetHeaderValue(2)


            index = []
            for i in range(numrow):
                index_ = str(instStockChart.GetDataValue(0,i))
                index.append(index_)

            
            stock_info = pd.DataFrame(columns=numcolumn[1:], index=index)

            for num in range(numrow):
                for col in range(len(numcolumn)):
                    # 1,2,3,4,5,6,7,8,9, 10
                    stock_info.iloc[num, col-1] = str(instStockChart.GetDataValue(col,num))
                
            temp_df = pd.concat([stock_info, temp_df])
           

            start_day = datetime.strftime(datetime.strptime(start_day, day_format) + timedelta(days=1), day_format)
            transfer_end_day = datetime.strftime(datetime.strptime(today, day_format), day_format)
            time.sleep(uniform(0.15, 0.3))

            if instCpCybos.GetLimitRemainCount(1) < 3:
                time.sleep(10)

            if start_day > transfer_end_day:
                temp_df = temp_df.reset_index().rename(columns={'index':'날짜'})
                return temp_df
    else:
        return pd.DataFrame()

def update_pymysql_empty(code, type, conn):
# 존재할 경우, 대신증권에서 해당 종목 일봉 분봉 업데이트문
    
    day_format = '%Y%m%d'
    minus_day = timedelta(days=1)

    temp_df = pd.DataFrame()

    # today = str(datetime.today().year) + str(datetime.today().month) + str((datetime.today()).day)

    for day in range(730):
        instStockChart.SetInputValue(0, 'A'+code) # 종목명
        instStockChart.SetInputValue(1, ord('1')) # 1 : 기간으로 요청, 2: 개수로 요청
        instStockChart.SetInputValue(3, today) # 요청 시작일 22일
        instStockChart.SetInputValue(2, today) # 요청 종료일 22일
        instStockChart.SetInputValue(5, [0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17,18, 19,20,21,22,23,24,25,26])
        instStockChart.SetInputValue(6, ord(type)) # 'D' : 일봉, 'm' : 분봉
        instStockChart.SetInputValue(9, ord('1'))

        instStockChart.BlockRequest() # 위 정보로 요청

        numrow, numcolumn = instStockChart.GetHeaderValue(3), instStockChart.GetHeaderValue(2)


        index = []
        for i in range(numrow):
            index_ = str(instStockChart.GetDataValue(0,i))
            index.append(index_)

    
        stock_info = pd.DataFrame(columns=numcolumn[1:], index=index)

        for num in range(numrow):
            for col in range(len(numcolumn)):
                # 1,2,3,4,5,6,7,8,9, 10
                stock_info.iloc[num, col-1] = str(instStockChart.GetDataValue(col,num))
        temp_df = pd.concat([stock_info, temp_df])

        today = datetime.strftime(datetime.strptime(today, day_format) - timedelta(days=1), day_format)
        transfer_end_day = datetime.strftime(datetime.strptime(today, day_format), day_format)
        time.sleep(uniform(0.15, 0.3))

        if instCpCybos.GetLimitRemainCount(1) < 3:
            time.sleep(10)
            
        temp_df = temp_df.reset_index().rename(columns={'index':'날짜'})
        return temp_df

# 삼성전자 종목 업데이트 우선 수행 후 template 생성

def save_samsung_template(conn):

    # today = str(datetime.today().year) + str(datetime.today().month) + str((datetime.today() - timedelta(1)).day)
    day_format = '%Y%m%d'
    yesterday = datetime.strftime(datetime.strptime(today, day_format) - timedelta(days=1), day_format)
    template = update_pymysql_exist('005930', 'm', conn)
    template = template.reset_index()
    print(template)
    template = template.set_index(['날짜', '시간'])
    template = template.notnull().replace(True, np.NaN)
    y_template = pd.read_csv('../data/{}_fillrow_template.csv'.format(yesterday), encoding='utf-8 sig')
    y_template = y_template.rename(columns={'Unnamed: 0' : '날짜'})
    y_template = y_template.set_index(['날짜', '시간'])
    template = pd.concat([template, y_template], axis=0, ignore_index=False)
    template.to_csv('../data/{}_fillrow_template.csv'.format(today), encoding='utf-8 sig')
    template = template.drop(['index'], axis=1)

    return template


# 종목별 업데이트, fillrow, concat 수행

def update_fillrow(min_df, template):
    
    min_df = min_df.set_index(['날짜','시간'])
    min_df = pd.merge(template, min_df, how='left', left_index=True, right_index=True)
    min_df = min_df.drop(columns=min_df.columns[0:24], axis=1)
    columns_temp = min_df.columns
    bin_columns = []
    for column in columns_temp:
        bin_columns.append(column.split('_')[0])

    min_df.columns = bin_columns

    min_df = min_df.reset_index()


    min_df[['거래량','거래대금']] = min_df[['거래량','거래대금']].fillna(0)
    min_df = min_df.bfill()
    min_df = min_df.dropna()
    min_df.to_csv('./merge.csv', encoding='utf-8-sig')
    return min_df

# 분봉 일봉 concate 진행

def update_concat(min_df, day_df):

    min_drop_list = ['전일대비','상장주식수','시가총액','외국인주문한도수량'
                ,'외국인주문가능수량','외국인현보유수량','외국인현보유비율'
                ,'수정주가일자','수정주가비율','기관순매수량','기관누적순매수량'
                ,'등락주선','등락비율','예탁금','주식회전율','거래성립률']                                  
    day_drop_list = ['시간','시가','고가','저가','종가','거래량','거래대금','누적체결매도수량', '누적체결매수수량'
                ,'등락주선','등락비율','예탁금','주식회전율','거래성립률']
        
    stock_min_df = min_df.drop(min_drop_list, axis=1)
    stock_day_df = day_df.drop(day_drop_list, axis=1)
    
    concat_df = pd.merge(stock_min_df, stock_day_df, on='날짜', how='left')

    return concat_df

# label 추가

def update_label(concat_df):
    
    # 데이터 프레임에서 날짜 인덱스 추출
    concat_df.set_index('날짜', inplace=True)
    date = concat_df.index.unique()
    # label 컬럼 추가 후 0으로 초기화
    concat_df['label'] = 0
    # 업데이트에 사용할 데이터 프레임 생성
    update_stock_info = pd.DataFrame()
    # labeling
    for day in date:
        # 특정일의 Data 추출
        select_day = concat_df.loc[day].copy()
        select_day['label'] = 0
        # 특정일의 Row 만큼 반복
        for row in range(len(select_day)):
            # 특정일의 현재 row 이후 최대 고가를 추출
            next_price = select_day[-row-1::-1]['고가'].max()
            # 추출한 최대 고가를 label 컬럼에 대입
            select_day.iloc[-row-1,-1] = next_price
            next_price = 0
        # 특정일 label이 추가된 DF를 업데이트할 DF에 concat
        update_stock_info = pd.concat([update_stock_info, select_day])

    trans = update_stock_info.loc[:,['고가','label']]
    trans['고가'] = trans['고가'].astype('float')
    trans['label'] = trans['label'].astype('float')
    trans = trans.rename(columns={'label':'pct_label'}).T

    get_trans = trans.pct_change().T.iloc[:,-1]
    update_stock_info = pd.concat([update_stock_info, get_trans], axis=1)
    update_stock_info = update_stock_info.drop(['label'], axis=1)

    update_stock_info['pct_label'] = update_stock_info['pct_label'].mul(100)
    update_stock_info['pct_label'] = update_stock_info['pct_label'].round(1)
    update_stock_info.reset_index(inplace=True)

    return update_stock_info


# Data csv => SQL에 추가
def sqlalchemy_update_insert(update_df, code, type, conn):

    update_df['년'] = update_df['날짜'].apply(str).str[:4]
    update_df['월'] = update_df['날짜'].apply(str).str[4:6]
    update_df['일'] = update_df['날짜'].apply(str).str[6:8]
    update_df.sort_index(ascending=False, inplace=True)
    # name= table명
    # con= connect할 때 들어가는 아이디 비밀번호 등등
    # if_exists= 'append' : 기존 테이블이 있는 경우 데이터를 추가
    # 'fail' : 기존 테이블이 있는 경우 아무일도 없지만 없을 경우 valuesError뜸
    # 'replace' : 기존 테이블이 있을 경우, 기존 테이블을 삭제하고 다시 테이블을
    count = update_df.to_sql(name='{0}'.format(code), con=conn, if_exists=type, index=False)
    
# for문 완료 후 연결 해제
    conn.close()

In [6]:

##########################################################################################################
pymysql_conn = get_pymysql_connection('192.168.50.123', 'stock_info')

stock_list = get_pymysql_stock_list(pymysql_conn, 'stock_info')
get_krx_stock_list()
exist_list, empty_list = get_compare_list(stock_list)
pymysql_conn = get_pymysql_connection('192.168.50.123', 'stock_info')
template = save_samsung_template(pymysql_conn)
for code in exist_list:
    sqlalchemy_conn = sqlalchemy_connect_ip('192.168.50.123', 'stock_info')
    pymysql_conn = get_pymysql_connection('192.168.50.123', 'stock_info')
    print('현재 업데이트 중인 종목명 : ' + code)
    min_df = update_pymysql_exist(code, 'm', pymysql_conn)
    if min_df.empty == False:
        day_df = update_pymysql_exist(code, 'D', pymysql_conn)
        min_df = update_fillrow(min_df, template)
        concat_df = update_concat(min_df, day_df)
        update_df = update_label(concat_df)
        sqlalchemy_update_insert(update_df, code, 'append', sqlalchemy_conn)


# for code in empty_list:
#     sqlalchemy_conn = sqlalchemy_connect_ip('192.168.50.123', 'stock_info')
#     pymysql_conn = get_pymysql_connection('192.168.50.123', 'stock_info')

#     min_df = update_pymysql_empty(code, 'm', pymysql_conn)
#     day_df = update_pymysql_empty(code, 'D', pymysql_conn)

#     min_df = update_fillrow(min_df)
#     concat_df = update_concat(min_df, day_df)
#     update_df = update_label(concat_df)
#     sqlalchemy_update_insert(update_df, code, 'replace', sqlalchemy_conn)

      index        날짜    시간     시가     고가     저가     종가 전일대비     거래량  \
0         0  20221128  1530  60100  60100  60100  60100    0  840274
1         1  20221128  1520  60000  60100  60000  60100    0   31833
2         2  20221128  1519  60000  60100  60000  60000    0   15740
3         3  20221128  1518  60000  60100  60000  60000    0   20547
4         4  20221128  1517  60000  60100  60000  60000    0   22464
...     ...       ...   ...    ...    ...    ...    ...  ...     ...
1900   1900  20221122   905  61000  61000  60800  61000    0  232338
1901   1901  20221122   904  61000  61000  60900  61000    0   15629
1902   1902  20221122   903  60800  61000  60800  60900    0   92486
1903   1903  20221122   902  60900  60900  60700  60800    0  253103
1904   1904  20221122   901  60900  61000  60800  60900    0  146274

             거래대금  ... 외국인현보유비율 수정주가일자 수정주가비율 기관순매수량 기관누적순매수량 등락주선 등락비율 예탁금  \
0     50500460000  ...      0.0      0    0.0      0        0    0  0.0   0
1      1912330000  ...      0.0      0    0.0      0        0    0  0.0   0
2       944690000  ...      0.0      0    0.0      0        0    0  0.0   0
3      1233780000  ...      0.0      0    0.0      0        0    0  0.0   0
4      1348020000  ...      0.0      0    0.0      0        0    0  0.0   0
...           ...  ...      ...    ...    ...    ...      ...  ...  ...  ..
1900  14148870000  ...      0.0      0    0.0      0        0    0  0.0   0
1901    952230000  ...      0.0      0    0.0      0        0    0  0.0   0
1902   5631180000  ...      0.0      0    0.0      0        0    0  0.0   0
1903  15389500000  ...      0.0      0    0.0      0        0    0  0.0   0
1904   8907390000  ...      0.0      0    0.0      0        0    0  0.0   0

     주식회전율 거래성립률
0      0.0   0.0
1      0.0   0.0
2      0.0   0.0
3      0.0   0.0
4      0.0   0.0
...    ...   ...
1900   0.0   0.0
1901   0.0   0.0
1902   0.0   0.0
1903   0.0   0.0
1904   0.0   0.0

[1905 rows x 27 columns]
현재 업데이트 중인 종목명 : 000020
현재 업데이트 중인 종목명 : 000040
현재 업데이트 중인 종목명 : 000050
현재 업데이트 중인 종목명 : 000060
현재 업데이트 중인 종목명 : 000070
현재 업데이트 중인 종목명 : 000100
현재 업데이트 중인 종목명 : 000120
현재 업데이트 중인 종목명 : 000140
현재 업데이트 중인 종목명 : 000150
현재 업데이트 중인 종목명 : 000180
현재 업데이트 중인 종목명 : 000210
현재 업데이트 중인 종목명 : 000220
현재 업데이트 중인 종목명 : 000230
현재 업데이트 중인 종목명 : 000240
현재 업데이트 중인 종목명 : 000250
현재 업데이트 중인 종목명 : 000270
현재 업데이트 중인 종목명 : 000300
현재 업데이트 중인 종목명 : 000320
현재 업데이트 중인 종목명 : 000370
현재 업데이트 중인 종목명 : 000390
현재 업데이트 중인 종목명 : 000400
현재 업데이트 중인 종목명 : 000430
현재 업데이트 중인 종목명 : 000440
현재 업데이트 중인 종목명 : 000480
현재 업데이트 중인 종목명 : 000490
현재 업데이트 중인 종목명 : 000500
현재 업데이트 중인 종목명 : 000520
현재 업데이트 중인 종목명 : 000540
현재 업데이트 중인 종목명 : 000590
현재 업데이트 중인 종목명 : 000640
현재 업데이트 중인 종목명 : 000650
현재 업데이트 중인 종목명 : 000660
현재 업데이트 중인 종목명 : 000670
현재 업데이트 중인 종목명 : 000680
현재 업데이트 중인 종목명 : 000700
현재 업데이트 중인 종목명 : 000720
현재 업데이트 중인 종목명 : 000760
현재 업데이트 중인 종목명 : 000810
현재 업데이트 중인 종목명 : 000850
현재 업데이트 중인 종목명 : 000860
현재 업데이트 중인 종목명 : 000880
현재 업데이트 중인 종목명 : 000890
현재 업데이트 중인 종목명 : 000910
현재 업데이트 중인 종목명 : 000950
현재 업데이트 중인 종목명 : 000970
현재 업데이트 중인 종목명 : 000990

In [93]:
template

NameError: name 'template' is not defined

In [ ]:
host_name = "localhost"
username = 'root'
password = 'big15'
database_name = 'big15'

In [ ]:
db1 = pymysql.connect(
    host= host_name
    , port=3306
    , user=username
    , password=password
    , db=database_name
    , charset='utf8'
)

In [ ]:
sql = 'select * from stock'
df2 = pd.read_sql(sql,con=db1)
print(df2)

c:\Users\TJ\.conda\envs\tf2\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

        Unnamed: 0    시간     시가     고가     저가     종가  전일대비     거래량  \
0         20221103  1530  82700  82700  82700  82700     0  312503
1         20221103  1520  83100  83100  83000  83100     0   12246
2         20221103  1519  83000  83100  83000  83100     0   19656
3         20221103  1518  83200  83200  83000  83000     0   39559
4         20221103  1517  83100  83200  83100  83200     0    4789
...            ...   ...    ...    ...    ...    ...   ...     ...
190375    20201027   905  82000  82300  81800  82200     0   53979
190376    20201027   904  82200  82300  82000  82000     0   19926
190377    20201027   903  82200  82300  82100  82200     0   16356
190378    20201027   902  82500  82500  82200  82200     0   12931
190379    20201027   901  82300  82600  82200  82600     0   41258

               거래대금  누적체결매도수량  ...  외국인현보유비율  수정주가일자  수정주가비율  기관순매수량  \
0       25843990000   1314512  ...       0.0       0     0.0       0
1        1017260000   1314512  ...       0.0       0     0.0       0
2        1631760000   1310685  ...       0.0       0     0.0       0
3        3285320000   1294359  ...       0.0       0     0.0       0
4         398250000   1257506  ...       0.0       0     0.0       0
...             ...       ...  ...       ...     ...     ...     ...
190375   4426440000     75310  ...       0.0       0     0.0       0
190376   1636080000     43993  ...       0.0       0     0.0       0
190377   1344490000     27741  ...       0.0       0     0.0       0
190378   1065000000     14560  ...       0.0       0     0.0       0
190379   3397220000      7284  ...       0.0       0     0.0       0

        기관누적순매수량  등락주선  등락비율  예탁금  주식회전율  거래성립률
0              0     0   0.0    0    0.0    0.0
1              0     0   0.0    0    0.0    0.0
2              0     0   0.0    0    0.0    0.0
3              0     0   0.0    0    0.0    0.0
4              0     0   0.0    0    0.0    0.0
...          ...   ...   ...  ...    ...    ...
190375         0     0   0.0    0    0.0    0.0
190376         0     0   0.0    0    0.0    0.0
190377         0     0   0.0    0    0.0    0.0
190378         0     0   0.0    0    0.0    0.0
190379         0     0   0.0    0    0.0    0.0

[190380 rows x 25 columns]

In [ ]:
df2 = df2.astype({'Unnamed: 0':'int32'})
df2 = df2.astype({'시간':'int16'})
df2 = df2.astype({'시가':'int32'})
df2 = df2.astype({'고가':'int32'})
df2 = df2.astype({'저가':'int32'})
df2 = df2.astype({'종가':'int32'})
df2 = df2.astype({'전일대비':'int32'})
df2 = df2.astype({'거래량':'int32'})
df2 = df2.astype({'거래대금':'int64'})
df2 = df2.astype({'누적체결매도수량':'int32'})
df2 = df2.astype({'상장주식수':'int32'})
df2 = df2.astype({'시가총액':'int64'})
df2 = df2.astype({'외국인주문한도수량':'int32'})
df2 = df2.astype({'외국인주문가능수량':'int32'})
df2 = df2.astype({'외국인현보유수량':'int32'})
df2 = df2.astype({'외국인현보유비율':'float32'})
df2 = df2.astype({'수정주가일자':'int32'})
df2 = df2.astype({'수정주가비율':'float32'})
df2 = df2.astype({'기관순매수량':'int32'})
df2 = df2.astype({'기관누적순매수량':'int32'})
df2 = df2.astype({'등락주선':'int32'})
df2 = df2.astype({'등락비율':'float32'})
df2 = df2.astype({'예탁금':'int64'})
df2 = df2.astype({'주식회전율':'float32'})
df2 = df2.astype({'거래성립률':'float32'})

In [ ]:
sql = 'SELECT COUNT(*) FROM STOCK'
print(pd.read_sql(sql=sql, con=db1))

   COUNT(*)
0    190380

c:\Users\TJ\.conda\envs\tf2\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [11]:
pymysql_conn = get_pymysql_connection('192.168.50.123', 'stock_info')

stock_list = get_pymysql_stock_list(pymysql_conn, 'stock_info')
get_krx_stock_list()
exist_list, empty_list = get_compare_list(stock_list)

date = [20221122, 20221123, 20221124, 20221125, 20221128 , 20221129]

def del_sql(code, date):

    # 현재 DB 내 존재하는 테이블(종목) 추출
    for day in date:
        conn = get_pymysql_connection('192.168.50.123', 'stock_info')
        sql = "DELETE FROM stock_info.{0} WHERE 날짜='{1}'".format(code, day)

        cur = conn.cursor()
        print(sql)
        result = cur.execute(sql)
        print(result)
        conn.commit()


for code in exist_list:
    del_sql(code, date)

DELETE FROM stock_info.000020 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000020 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000020 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000020 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000020 WHERE 날짜='20221128'
0
DELETE FROM stock_info.000020 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000040 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000040 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000040 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000040 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000040 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000040 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000050 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000050 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000050 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000050 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000050 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000050 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000060 WHERE 날짜='20221122'
379
DELETE FROM stock_info.000060 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000060 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000060 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000060 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000060 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000070 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000070 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000070 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000070 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000070 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000070 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000100 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000100 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000100 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000100 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000100 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000100 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000120 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000120 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000120 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000120 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000120 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000120 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000140 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000140 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000140 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000140 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000140 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000140 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000150 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000150 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000150 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000150 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000150 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000150 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000180 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000180 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000180 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000180 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000180 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000180 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000210 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000210 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000210 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000210 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000210 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000210 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000220 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000220 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000220 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000220 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000220 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000220 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000230 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000230 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000230 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000230 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000230 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000230 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000240 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000240 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000240 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000240 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000240 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000240 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000250 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000250 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000250 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000250 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000250 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000250 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000270 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000270 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000270 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000270 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000270 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000270 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000300 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000300 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000300 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000300 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000300 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000300 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000320 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000320 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000320 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000320 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000320 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000320 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000370 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000370 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000370 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000370 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000370 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000370 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000390 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000390 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000390 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000390 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000390 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000390 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000400 WHERE 날짜='20221122'
379
DELETE FROM stock_info.000400 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000400 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000400 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000400 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000400 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000430 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000430 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000430 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000430 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000430 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000430 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000440 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000440 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000440 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000440 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000440 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000440 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000480 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000480 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000480 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000480 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000480 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000480 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000490 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000490 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000490 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000490 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000490 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000490 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000500 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000500 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000500 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000500 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000500 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000500 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000520 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000520 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000520 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000520 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000520 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000520 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000540 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000540 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000540 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000540 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000540 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000540 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000590 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000590 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000590 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000590 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000590 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000590 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000640 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000640 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000640 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000640 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000640 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000640 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000650 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000650 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000650 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000650 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000650 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000650 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000660 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000660 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000660 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000660 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000660 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000660 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000670 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000670 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000670 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000670 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000670 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000670 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000680 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000680 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000680 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000680 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000680 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000680 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000700 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000700 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000700 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000700 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000700 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000700 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000720 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000720 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000720 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000720 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000720 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000720 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000760 WHERE 날짜='20221122'
379
DELETE FROM stock_info.000760 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000760 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000760 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000760 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000760 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000810 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000810 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000810 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000810 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000810 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000810 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000850 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000850 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000850 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000850 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000850 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000850 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000860 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000860 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000860 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000860 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000860 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000860 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000880 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000880 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000880 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000880 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000880 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000880 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000890 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000890 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000890 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000890 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000890 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000890 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000910 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000910 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000910 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000910 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000910 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000910 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000950 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000950 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000950 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000950 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000950 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000950 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000970 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000970 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000970 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000970 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000970 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000970 WHERE 날짜='20221129'
0
DELETE FROM stock_info.000990 WHERE 날짜='20221122'
381
DELETE FROM stock_info.000990 WHERE 날짜='20221123'
381
DELETE FROM stock_info.000990 WHERE 날짜='20221124'
381
DELETE FROM stock_info.000990 WHERE 날짜='20221125'
381
DELETE FROM stock_info.000990 WHERE 날짜='20221128'
381
DELETE FROM stock_info.000990 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001000 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001000 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001000 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001000 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001000 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001000 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001020 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001020 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001020 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001020 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001020 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001020 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001040 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001040 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001040 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001040 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001040 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001040 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001060 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001060 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001060 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001060 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001060 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001060 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001070 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001070 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001070 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001070 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001070 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001070 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001080 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001080 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001080 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001080 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001080 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001080 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001120 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001120 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001120 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001120 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001120 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001120 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001130 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001130 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001130 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001130 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001130 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001130 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001140 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001140 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001140 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001140 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001140 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001140 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001200 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001200 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001200 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001200 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001200 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001200 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001210 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001210 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001210 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001210 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001210 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001210 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001230 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001230 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001230 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001230 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001230 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001230 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001250 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001250 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001250 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001250 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001250 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001250 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001260 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001260 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001260 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001260 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001260 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001260 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001270 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001270 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001270 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001270 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001270 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001270 WHERE 날짜='20221129'
0
DELETE FROM stock_info.001290 WHERE 날짜='20221122'
381
DELETE FROM stock_info.001290 WHERE 날짜='20221123'
381
DELETE FROM stock_info.001290 WHERE 날짜='20221124'
381
DELETE FROM stock_info.001290 WHERE 날짜='20221125'
381
DELETE FROM stock_info.001290 WHERE 날짜='20221128'
381
DELETE FROM stock_info.001290 WHERE 날짜='20221129'
0

In [14]:
import csv
pymysql_conn = get_pymysql_connection('192.168.50.123', 'stock_info')

stock_list = get_pymysql_stock_list(pymysql_conn, 'stock_info')
get_krx_stock_list()
exist_list, empty_list = get_compare_list(stock_list)

def del_sql(code):

    # 현재 DB 내 존재하는 테이블(종목) 추출
    conn = get_pymysql_connection('192.168.50.123', 'stock_info')
    sql = "ALTER TABLE stock_info.{0} ADD PRIMARY KEY (날짜, 시간)".format(code)

    cur = conn.cursor()
    print(sql)
    result = cur.execute(sql)
    print(result)
    conn.commit()


error_list = []

for code in exist_list[0:2]:
    try:
        del_sql(code)
    except:
        print('예외 발생 종목 : ' + code)
        error_list.append(code)

print(error_list)

ALTER TABLE stock_info.000020 ADD PRIMARY KEY (날짜, 시간)