In [18]:
from sqlalchemy import create_engine
from module import connection, get, save, search, update
import pymysql
import pandas as pd
import csv
import os
import time

KeyboardInterrupt:

In [ ]:
# mysql connect하기 위한 아이디 비밀번호 포트 데이터베이스 등록 및 conn 리턴
def sqlalchemy_connect():
    engine = create_engine("mysql+pymysql://root:"
                +"big15"
                +"@localhost:3306/big15?charset=utf8"
                , encoding='utf8')
    
    return engine.connect()

In [ ]:
# mysql connect하기 위한 아이디 비밀번호 포트 데이터베이스 등록 및 conn 리턴
def sqlalchemy_connect_ip(ip_address, db_name):
    engine = create_engine("mysql+pymysql://admin:"
                +"big15" # user password
                +"@{0}:3306/{1}?charset=utf8".format(ip_address, db_name)
                , encoding='utf8')
    
    return engine.connect()

In [ ]:
# Data csv => SQL에 추가
def sqlalchemy_data_insert(conn):
    
    # for문 돌려서 파일 리스트 받고 하나씩 읽는다
    for file in os.listdir('../data/update/20221116/concat/'):
        stock_code_name = file.split('_')[-2] + '_' + file.split('_')[-1].split('.')[0]

        stock_info = pd.read_csv('../data/update/20221116/concat/{0}'.format(file))

        stock_info['년'] = stock_info['날짜'].apply(str).str[:4]
        stock_info['월'] = stock_info['날짜'].apply(str).str[4:6]
        stock_info['일'] = stock_info['날짜'].apply(str).str[6:8]
        stock_info.sort_index(ascending=False, inplace=True)
        # name= table명
        # con= connect할 때 들어가는 아이디 비밀번호 등등
        # if_exists= 'append' : 기존 테이블이 있는 경우 데이터를 추가
        # 'fail' : 기존 테이블이 있는 경우 아무일도 없지만 없을 경우 valuesError뜸
        # 'replace' : 기존 테이블이 있을 경우, 기존 테이블을 삭제하고 다시 테이블을
        count = stock_info.to_sql(name='{0}'.format(stock_code_name), con=conn, if_exists='replace', index=False)
        stock_info = pd.DataFrame()

        print(count)

    # for문 완료 후 연결 해제
    conn.close()

In [ ]:
sqlalchemy_data_insert(sqlalchemy_connect_ip('192.168.50.123', 'stock_info'))

193809

c:\Users\TJ\.conda\envs\systrader\lib\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name '000040_KR모터스' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

193809

KeyboardInterrupt:

In [ ]:
import pandas as pd

test = pd.read_csv('../data/update/20221116/concat/concat_000810_삼성화재.csv')

In [ ]:
test['년'] = test['날짜'].apply(str).str[:4]
test['월'] = test['날짜'].apply(str).str[4:6]
test['일'] = test['날짜'].apply(str).str[6:8]
test

,날짜,시간,시가,고가,저가,종가,거래량,거래대금,누적체결매도수량,전일대비,...,외국인주문가능수량,외국인현보유수량,외국인현보유비율,수정주가일자,수정주가비율,기관순매수량,기관누적순매수량,년,월,일
0,20221116,1530,193500.0,193500.0,193500.0,193500.0,15207.0,2.942550e+09,88718.0,-1500,...,23596984,23777853,50.189999,20221116,100.0,-35347,-916140,2022,11,16
1,20221116,1520,193500.0,193500.0,193000.0,193000.0,319.0,6.165000e+07,88718.0,-1500,...,23596984,23777853,50.189999,20221116,100.0,-35347,-916140,2022,11,16
2,20221116,1519,193000.0,193500.0,193000.0,193500.0,351.0,6.781000e+07,88570.0,-1500,...,23596984,23777853,50.189999,20221116,100.0,-35347,-916140,2022,11,16
3,20221116,1518,193000.0,193500.0,193000.0,193000.0,345.0,6.666000e+07,88345.0,-1500,...,23596984,23777853,50.189999,20221116,100.0,-35347,-916140,2022,11,16
4,20221116,1517,193000.0,193500.0,193000.0,193500.0,312.0,6.035000e+07,88165.0,-1500,...,23596984,23777853,50.189999,20221116,100.0,-35347,-916140,2022,11,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193804,20201028,905,189500.0,189500.0,189000.0,189000.0,608.0,1.149200e+08,1019.0,-1500,...,25318414,22056423,46.560001,20201028,100.0,5661,1014353,2020,10,28
193805,20201028,904,190000.0,190000.0,189500.0,189500.0,145.0,2.747000e+07,517.0,-1500,...,25318414,22056423,46.560001,20201028,100.0,5661,1014353,2020,10,28
193806,20201028,903,189500.0,189500.0,189000.0,189500.0,450.0,8.527000e+07,389.0,-1500,...,25318414,22056423,46.560001,20201028,100.0,5661,1014353,2020,10,28
193807,20201028,902,190000.0,190500.0,190000.0,190000.0,141.0,2.680000e+07,76.0,-1500,...,25318414,22056423,46.560001,20201028,100.0,5661,1014353,2020,10,28
193808,20201028,901,189000.0,190000.0,188500.0,190000.0,3516.0,6.645300e+08,16.0,-1500,...,25318414,22056423,46.560001,20201028,100.0,5661,1014353,2020,10,28

In [ ]:
import pymysql
import csv
import os
import time

def get_pymysql_connection(ip_address, db_name):

    conn = pymysql.connect(host=ip_address, user='admin', password='big15'
                        , db=db_name, charset='utf8')

    return conn

def update_pymysql_stock_info(conn, stock_code):

    # stock code에서 DB table이 존재하는 확인
    sql = 'SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE stock_info'

    # 존재할 경우, 대신증권에서 해당 종목 일봉 분봉 업데이트문

    # 존재하지 않는 경우, 새로운 테이블을 만들고 해당 종목 추가
    curs = conn.cursor()


    sql = 'UPDATE TABLE {0} ()'.format() 
    curs.execute(sql)
    curs.close()

# conn.commit()

sql = "insert into user (id, name, region, insdt) values (%s, %s, %s, now())"
f = open('test.csv', 'r', encoding='utf-8')
rd = csv.reader(f)

for line in rd:
    curs.execute(sql, (line[0], line[1], line[2]))

conn.commit()
conn.close()
f.close()

In [ ]:
from pykrx import stock
import pymysql
import csv
import os
import time

def get_pymysql_connection(ip_address, db_name):

    conn = pymysql.connect(host=ip_address, user='admin', password='big15'
                        , db=db_name, charset='utf8')

    return conn

conn = get_pymysql_connection('192.168.50.123', 'stock_info')

# 현재 DB 내 존재하는 테이블(종목) 추출
sql = "SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = 'stock_info'"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        result = [item[0] for item in cur.fetchall()]

kospi_code = stock.get_market_ticker_list(date="20221120", market="KOSPI")
kosdaq_code = stock.get_market_ticker_list(date="20221120", market="KOSDAQ")
len(kospi_code), len(kosdaq_code)

# stock code가 테이블이 존재하는 비교



# 존재할 경우, 대신증권에서 해당 종목 일봉 분봉 업데이트문

# 존재하지 않는 경우, 새로운 테이블을 만들고 해당 종목 추가


# curs = conn.cursor()
# print(curs)
# print(curs.execute(sql))
# print(sql)
# curs.close()

# conn.commit()

# sql = "insert into user (id, name, region, insdt) values (%s, %s, %s, now())"
# f = open('test.csv', 'r', encoding='utf-8')
# rd = csv.reader(f)

# for line in rd:
#     curs.execute(sql, (line[0], line[1], line[2]))

# conn.commit()
# conn.close()
# f.close()

(941, 1608)

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from datetime import datetime
import glob
import shutil
import time

target = r"D:/systrader-dev/data/kos*.csv"
csv_list = glob.glob(target)

if len(csv_list) >= 1:
    os.remove(csv_list[0])
    os.remove(csv_list[1])

driver = webdriver.Chrome("./chromedriver")

driver.get("http://data.krx.co.kr/contents/MDC/MDI/mdiLoader/index.cmd?menuId=MDC0201020101")
driver.implicitly_wait(20)
time.sleep(1.5)
driver.find_element(By.XPATH, '//*[@id="MDCSTAT015_FORM"]/div[1]/div/table/tbody/tr[1]/td/label[2]').click()
time.sleep(1.5)
driver.implicitly_wait(20)
driver.find_element(By.XPATH, '//*[@id="MDCSTAT015_FORM"]/div[2]/div/p[2]/button[2]').click()	
time.sleep(1.5)
driver.implicitly_wait(20)
driver.find_element(By.XPATH, '//*[@id="ui-id-1"]/div/div[2]').click()
time.sleep(1.5)
driver.implicitly_wait(20)
driver.find_element(By.XPATH, '//*[@id="MDCSTAT015_FORM"]/div[1]/div/table/tbody/tr[1]/td/label[3]').click()
time.sleep(1.5)
driver.implicitly_wait(20)
driver.find_element(By.XPATH, '//*[@id="MDCSTAT015_FORM"]/div[2]/div/p[2]/button[2]').click()	
time.sleep(1.5)
driver.implicitly_wait(20)
driver.find_element(By.XPATH, '//*[@id="ui-id-3"]/div/div[2]').click()
time.sleep(1.5)
driver.close()

target = r"C:Users/TJ/Downloads/data*.csv"
new_csv_list = glob.glob(target)

file_size_1 = os.path.getsize(new_csv_list[0])
file_size_2 = os.path.getsize(new_csv_list[1])

now = datetime.now()
cur_time = now.strftime('%Y%m%d')

if file_size_1 < file_size_2:
    shutil.move(new_csv_list[0], "../data/kospi_{0}.csv".format(cur_time))
    shutil.move(new_csv_list[1], "../data/kosdaq_{0}.csv".format(cur_time))
else:
    shutil.move(new_csv_list[1], "../data/kospi_{0}.csv".format(cur_time))
    shutil.move(new_csv_list[0], "../data/kosdaq_{0}.csv".format(cur_time))

C:\Users\TJ\AppData\Local\Temp\ipykernel_3952\1387157865.py:19: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("./chromedriver", chrome_options=options)
C:\Users\TJ\AppData\Local\Temp\ipykernel_3952\1387157865.py:19: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome("./chromedriver", chrome_options=options)

IndexError: list index out of range

In [ ]:
import csv

f = open('../data/test1/000660_SK하이닉스.csv', 'r', encoding='utf-8')
rd = csv.reader(f)

for line in rd:
    print(line[1])

In [ ]:
f.name.split('_')[1].split('.')[0]

'SK하이닉스'

In [ ]:
host_name = "localhost"
username = 'root'
password = 'big15'
database_name = 'big15'

In [ ]:
db1 = pymysql.connect(
    host= host_name
    , port=3306
    , user=username
    , password=password
    , db=database_name
    , charset='utf8'
)

In [ ]:
sql = 'select * from stock'
df2 = pd.read_sql(sql,con=db1)
print(df2)

c:\Users\TJ\.conda\envs\tf2\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

        Unnamed: 0    시간     시가     고가     저가     종가  전일대비     거래량  \
0         20221103  1530  82700  82700  82700  82700     0  312503
1         20221103  1520  83100  83100  83000  83100     0   12246
2         20221103  1519  83000  83100  83000  83100     0   19656
3         20221103  1518  83200  83200  83000  83000     0   39559
4         20221103  1517  83100  83200  83100  83200     0    4789
...            ...   ...    ...    ...    ...    ...   ...     ...
190375    20201027   905  82000  82300  81800  82200     0   53979
190376    20201027   904  82200  82300  82000  82000     0   19926
190377    20201027   903  82200  82300  82100  82200     0   16356
190378    20201027   902  82500  82500  82200  82200     0   12931
190379    20201027   901  82300  82600  82200  82600     0   41258

               거래대금  누적체결매도수량  ...  외국인현보유비율  수정주가일자  수정주가비율  기관순매수량  \
0       25843990000   1314512  ...       0.0       0     0.0       0
1        1017260000   1314512  ...       0.0       0     0.0       0
2        1631760000   1310685  ...       0.0       0     0.0       0
3        3285320000   1294359  ...       0.0       0     0.0       0
4         398250000   1257506  ...       0.0       0     0.0       0
...             ...       ...  ...       ...     ...     ...     ...
190375   4426440000     75310  ...       0.0       0     0.0       0
190376   1636080000     43993  ...       0.0       0     0.0       0
190377   1344490000     27741  ...       0.0       0     0.0       0
190378   1065000000     14560  ...       0.0       0     0.0       0
190379   3397220000      7284  ...       0.0       0     0.0       0

        기관누적순매수량  등락주선  등락비율  예탁금  주식회전율  거래성립률
0              0     0   0.0    0    0.0    0.0
1              0     0   0.0    0    0.0    0.0
2              0     0   0.0    0    0.0    0.0
3              0     0   0.0    0    0.0    0.0
4              0     0   0.0    0    0.0    0.0
...          ...   ...   ...  ...    ...    ...
190375         0     0   0.0    0    0.0    0.0
190376         0     0   0.0    0    0.0    0.0
190377         0     0   0.0    0    0.0    0.0
190378         0     0   0.0    0    0.0    0.0
190379         0     0   0.0    0    0.0    0.0

[190380 rows x 25 columns]

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190380 entries, 0 to 190379
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  190380 non-null  int64
 1   시간          190380 non-null  int64
 2   시가          190380 non-null  int64
 3   고가          190380 non-null  int64
 4   저가          190380 non-null  int64
 5   종가          190380 non-null  int64
 6   전일대비        190380 non-null  int64
 7   거래량         190380 non-null  int64
 8   거래대금        190380 non-null  int64
 9   누적체결매도수량    190380 non-null  int64
 10  상장주식수       190380 non-null  int64
 11  시가총액        190380 non-null  int64
 12  외국인주문한도수량   190380 non-null  int64
 13  외국인주문가능수량   190380 non-null  int64
 14  외국인현보유수량    190380 non-null  int64
 15  외국인현보유비율    190380 non-null  float64
 16  수정주가일자      190380 non-null  int64
 17  수정주가비율      190380 non-null  float64
 18  기관순매수량      190380 non-null  int64
 19  기관누적순매수량    190380 non-null  int64
 20  등락주선        190380 non-null  int64
 21  등락비율        190380 non-null  float64
 22  예탁금         190380 non-null  int64
 23  주식회전율       190380 non-null  float64
 24  거래성립률       190380 non-null  float64
dtypes: float64(5), int64(20)
memory usage: 36.3 MB

In [ ]:
df2 = df2.astype({'Unnamed: 0':'int32'})
df2 = df2.astype({'시간':'int16'})
df2 = df2.astype({'시가':'int32'})
df2 = df2.astype({'고가':'int32'})
df2 = df2.astype({'저가':'int32'})
df2 = df2.astype({'종가':'int32'})
df2 = df2.astype({'전일대비':'int32'})
df2 = df2.astype({'거래량':'int32'})
df2 = df2.astype({'거래대금':'int64'})
df2 = df2.astype({'누적체결매도수량':'int32'})
df2 = df2.astype({'상장주식수':'int32'})
df2 = df2.astype({'시가총액':'int64'})
df2 = df2.astype({'외국인주문한도수량':'int32'})
df2 = df2.astype({'외국인주문가능수량':'int32'})
df2 = df2.astype({'외국인현보유수량':'int32'})
df2 = df2.astype({'외국인현보유비율':'float32'})
df2 = df2.astype({'수정주가일자':'int32'})
df2 = df2.astype({'수정주가비율':'float32'})
df2 = df2.astype({'기관순매수량':'int32'})
df2 = df2.astype({'기관누적순매수량':'int32'})
df2 = df2.astype({'등락주선':'int32'})
df2 = df2.astype({'등락비율':'float32'})
df2 = df2.astype({'예탁금':'int64'})
df2 = df2.astype({'주식회전율':'float32'})
df2 = df2.astype({'거래성립률':'float32'})

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190380 entries, 0 to 190379
Data columns (total 25 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   Unnamed: 0  190380 non-null  int32
 1   시간          190380 non-null  int16
 2   시가          190380 non-null  int32
 3   고가          190380 non-null  int32
 4   저가          190380 non-null  int32
 5   종가          190380 non-null  int32
 6   전일대비        190380 non-null  int32
 7   거래량         190380 non-null  int32
 8   거래대금        190380 non-null  int64
 9   누적체결매도수량    190380 non-null  int32
 10  상장주식수       190380 non-null  int32
 11  시가총액        190380 non-null  int64
 12  외국인주문한도수량   190380 non-null  int32
 13  외국인주문가능수량   190380 non-null  int32
 14  외국인현보유수량    190380 non-null  int32
 15  외국인현보유비율    190380 non-null  float32
 16  수정주가일자      190380 non-null  int32
 17  수정주가비율      190380 non-null  float32
 18  기관순매수량      190380 non-null  int32
 19  기관누적순매수량    190380 non-null  int32
 20  등락주선        190380 non-null  int32
 21  등락비율        190380 non-null  float32
 22  예탁금         190380 non-null  int64
 23  주식회전율       190380 non-null  float32
 24  거래성립률       190380 non-null  float32
dtypes: float32(5), int16(1), int32(16), int64(3)
memory usage: 20.0 MB

In [ ]:
sql = 'SELECT COUNT(*) FROM STOCK'
print(pd.read_sql(sql=sql, con=db1))

   COUNT(*)
0    190380

c:\Users\TJ\.conda\envs\tf2\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(