In [1]:
import pymysql

In [3]:
pymysql.install_as_MySQLdb()
conn= pymysql.connect(
    host="192.168.50.123"
    ,user="admin"
    ,password="big15"
    ,db= "web_data"
    ,charset='utf8'
)

cursor = conn.cursor()
args = df.values.tolist()

sql_update= f"""
INSERT INTO news_data
VALUES (%s,%s,%s)
ON DUPLICATE KEY UPDATE
    newsname= VALUES(newsname)
    ,newslink= VALUES(newslink)
    ,news = VALUES(news)
"""

cursor.executemany(sql_update, args)

conn.comit()
conn.close()

NameError: name 'df' is not defined