In [5]:
'''
	yfinance 사용시 가상환경에서 인스톨
	https://github.com/ranaroussi/yfinance 참고

	pip install yfinance
'''
import yfinance as yf

In [18]:
# 삼성전자 주식 정보
# 과거 데이터 1분 단위는 1주일치까만 지져와짐
# 일별은 무제한으로 가겨와짐
yf.download('005930.KS', start='2000-10-26')  # 일봉 예시

[*********************100%***********************]  1 of 1 completed

               Open     High      Low    Close     Adj Close     Volume
Date
2000-10-26   2930.0   3030.0   2740.0   2890.0   2171.953613  133290000
2000-10-27   2890.0   2890.0   2890.0   2890.0   2171.953613          0
2000-10-30   2800.0   2880.0   2720.0   2750.0   2066.737549   36830000
2000-10-31   2750.0   2850.0   2630.0   2850.0   2141.893066   63190000
2000-11-01   3000.0   3270.0   2960.0   3260.0   2450.024414   94165000
...             ...      ...      ...      ...           ...        ...
2022-10-28  58900.0  59200.0  57200.0  57300.0  57300.000000   20924937
2022-10-31  58100.0  59900.0  58000.0  59400.0  59400.000000   18999514
2022-11-01  59900.0  60300.0  59500.0  60000.0  60000.000000   17201647
2022-11-02  59700.0  60000.0  59300.0  59600.0  59600.000000   13202919
2022-11-03  58600.0  59800.0  58100.0  59200.0  59200.000000   17339759

[5520 rows x 6 columns]

In [17]:
yf.download('005930.KS', start='2022-11-01', interval='1m')  # 분봉 예시

[*********************100%***********************]  1 of 1 completed

                        Open     High      Low    Close  Adj Close  Volume
Datetime
2022-11-01 09:00:00  59900.0  60000.0  59800.0  59900.0    59900.0       0
2022-11-01 09:01:00  59900.0  60000.0  59700.0  59700.0    59700.0  346807
2022-11-01 09:02:00  59700.0  59800.0  59600.0  59700.0    59700.0  144264
2022-11-01 09:03:00  59700.0  59700.0  59600.0  59600.0    59600.0   75893
2022-11-01 09:04:00  59600.0  59800.0  59600.0  59700.0    59700.0  119364
...                      ...      ...      ...      ...        ...     ...
2022-11-03 14:56:00  59700.0  59700.0  59600.0  59700.0    59700.0    9714
2022-11-03 14:57:00  59700.0  59700.0  59500.0  59500.0    59500.0   86828
2022-11-03 14:58:00  59600.0  59600.0  59500.0  59600.0    59600.0   11637
2022-11-03 14:59:00  59600.0  59600.0  59500.0  59600.0    59600.0    8559
2022-11-03 15:00:00  59200.0  59200.0  59200.0  59200.0    59200.0       0

[1081 rows x 6 columns]